<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>演示站</title>

    <script src="/static/js/jquery-2.1.1.min.js"></script>
    <!--    错误提示-->
    <link rel="stylesheet" href="/static/js/message/message.css"/>
    <script src="/static/js/message/message.js"></script>
    <script src="/static/js/vue/axios.min.js"></script>
    <script src="/static/js/vue/vue.js"></script>
    <!--    路由-->
    <script src="/static/js/vue/vue-router.js"></script>
    <!--国际化-->
    <script src="/static/js/vue/vue-i18n.js"></script>
    <!--导入国际化语言包-->
    <script src="/static/js/vue/lang/en-US.js"></script>
    <script src="/static/js/vue/lang/zh-CN.js"></script>
    <!--bootstarp-->
    <script src=" /static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!--引入字体-->
    <link rel="stylesheet" href="/static/css/fonts_custom.css"/>

    <link rel="stylesheet" href="/static/layui/css/layui.css"/>
    <link rel="stylesheet" href="/static/css/paralleTeachers/base.css">
    <link rel="stylesheet" href="/static/css/paralleTeachers/index.css">
    <link type="text/css" rel="stylesheet" href="/static/css/paralleTeachers/style.css">

    <!--<link rel="stylesheet" href="//res.layui.com/layui/dist/css/layui.css"  media="all">-->


    <style>
        img {
            width: 100%;
        }

        .li_img {
            width: 800px;
            float: left;
            list-style: none;
        }

        .ul_img {
            width: 6000px;
            padding: 0px;
            margin: 0px;
            transition: all 2s;
        }

        .main_div {
            width: 800px;
            overflow: hidden;
            position: relative;
            top: 100px;
            left: 350px;
        }

        .arrows {
            z-index: 9999;
            position: absolute;
            padding-top: 230px;
            width: 800px;
        }

        .arrows span {
            font-size: 3em;
            color: seashell;
        }

        .arrows span:hover {
            /*变小手*/
            cursor: pointer;
            background-color: rgba(192, 192, 192, 0.29);
        }

        .div_btn {
            float: left;
            border-radius: 100px;
            background-color: aquamarine;
            width: 60px;
            height: 10px;
            margin-left: 10px;
            margin-top: 130px;
        }

        .div_btn:hover {
            background-color: aqua;

        }

        .jk {
            animation: All 5.5s ease-in;
            /*margin: 0px 8px 0px 8px;*/
        }

        .jk:hover {

            /*transform: scale(1.1);*/
            /*border-bottom: 1px solid yellow;*/
        }

        /* body{
             background-image: url(/static/images/paralleTeachers/bottom.png);
             background-size: cover;

         }*/
        .btnxuxiao {
            background-image: linear-gradient(to right, #ff9900, #ffcc00);
        }

        .btnxuxiao:hover {
            background-image: linear-gradient(to right, #ffcc00, #ff9900);
        }

        #wx p{
            line-height: 24px;
            font-family: Light;
        }

    </style>

</head>
<body>

<div class="box">
    <div th:replace="maxwisdom/parallel_head :: parallel_head" ></div>
    <!--加载轮播图-->
    <div th:replace="maxwisdom/pxlunbotu"></div>
    <br/><br/><br/>
    <br/><br/><br/>
    <script>
        function commodityOnePxwj() {
            window.location.href = "/parallel/commodityOne";
        }

        function drawTheBookWebsite() {
            window.location.href = "/parallel/drawTheBookWebsite";
        }

        function websiteEnlightenment() {
            window.location.href = "/parallel/websiteEnlightenment";
        }

        function websiteSystemCourse() {
            window.location.href = "/parallel/websiteSystemCourse";
        }


        function synchronousLearning() {
            window.location.href = "/parallel/synchronousLearning";
        }


        function doubleClass() {
            window.location.href = "/parallel/doubleClass";
        }

        function chooseTeacher() {
            window.location.href = "/parallel/chooseTeacher";
        }
    </script>
    <div class="main">
        <div class="row" style="text-align: center">
            <div class="col-lg-3"></div>
            <div class="col-lg-6" style="text-align: center; ">
                <div style="background-color: white;border-radius: 10px; margin: 0 auto; width: 350px; height: 124px;z-index:101;box-shadow: 2px 2px 14px #d7d7d7; ">
                    <p class="Medium" style="font-size: 30px;  color: #333333;padding: 17px;"><b>课 程 支 持</b></p>
                    <p class="Regular" style="font-size: 18px; color: #666666;">P R O D U C T S&nbsp;&nbsp;&nbsp;&nbsp;
                        S U P P O R T</p>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <br/><br/><br/>
        <div class="row" style="text-align: center;">
            <!--<div class="col-lg-3"></div>-->
            <div class="col-lg-6">
                <div style="width: 100%; height: 470px; position: relative;left: 55px;">
                    <img src="/static/images/paralleTeachers/1.png" alt="">
                </div>
            </div>
            <div class="col-lg-6" style="margin-top: 2%">

                <div style="background-color: white; width: 100%; height: 453px;  margin-left: -3%;">
                    <p class="AEASWFTE_zdy" style="color: #ff9900;font-size: 40px; margin-left: -57%"><br/><b>PARAL</b>
                    </p>
                    <p class="AEASWFTE_zdy" style="margin-left: -10%;margin-top: -5%;font-size:  20px; color: #666666">
                        <b>PHONICS</b></p>
                    <br/><br/>
                    <h2 class="Regular" style="font-size: 30px; color: #666666">自拼专项口语线上课</h2>
                    <br/><br/>
                    <p class="Light"
                       style="text-indent: 2em; width: 65%;margin: 0 auto;font-size: 15px;line-height: 28px; text-align: left; color: #666666">
                        自拼专项口语课由5个级别组成，每个级别分10个单 元学习25-40个左右的发音规则，整个系列共覆盖150多个发音规则。每条发音规则，都有趣味性的练习，难度循序渐进。内容涵盖字母The
                        Alphabet 短元育Short Vowels、 长元音Long Vowels、辅音连读Consonant Blends、字母组合Letter Combinations等,逐步
                        拓展学习内容，系统科学，不断提高拼读能力。</p>
                    <button type="button" class="btn btn-warning NotoSansHans-Thin-Windows"
                            style="margin-left: 48%; margin-top: 4%; font-size: 14px;"
                            onclick=javascrtpt:commodityOnePxwj()>查看更多
                    </button>
                    <img src="/static/images/paralleTeachers/shuxian.png"
                         style="width: 188px; height: 5px; margin-left: 76%;">
                    <img src="/static/images/paralleTeachers/henxian.png"
                         style="width: 4px; height: 188px; margin-left: 100%; margin-top: -26%">
                </div>
            </div>
            <!--<div class="col-lg-3"></div>-->
        </div>
        <br/><br/><br/><br/>
        <br/><br/><br/><br/>
        <div class="row" style="text-align: center">
            <!--<div class="col-lg-3"></div>-->
            <div class="col-lg-6" style=" margin-top: 2%;">
                <div style="background-color: white; width: 100%; height: 453px; position: relative;left: 55px;z-index: 2;">
                    <p class="AEASWFTE_zdy" style="color: #ff9900;font-size: 40px;"><br/><b>PARAL</b>
                    </p>
                    <p class="AEASWFTE_zdy" style="margin-left: 50%;margin-top: -5%; font-size: 20px; color: #666666"><b>READINGS</b>
                    </p>
                    <br/><br/>
                    <h2 class="Regular" style="font-size: 30px;color: #666666">绘本专项口语线上课</h2>
                    <br/><br/>
                    <p class="Light"
                       style="text-indent: 2em; align-content: center;width: 80%;margin: 0 auto; font-size: 15px; text-align: left;line-height: 30px">
                        绘本专项口语课的整个系列跨越11个级别。考虑到少年儿童在不同的成长期，阅读性质和阅读能力是完全不同的，那么，对不同年龄段和不同心智层面的孩子来说，需要综合孩子们的兴趣和能力，所以平行外教英语向孩子们提供科学的，差异性的读物，均选用全彩故事书，内容都是孩子们感兴趣的动物、植物、侦探以及英国知名图画故事书作家绘制的小故事等。</p>
                    <button type="button" class="btn btn-warning NotoSansHans-Thin-Windows"
                            style="margin-right: 69%; margin-top: 5%; font-size: 15px;"
                            onclick=javascrtpt:drawTheBookWebsite()>查看更多
                    </button>
                    <img src="/static/images/paralleTeachers/shuxian.png"
                         style="width: 187px; height: 6px;position: relative;top: 16px;left: -41%;">
                    <img src="/static/images/paralleTeachers/henxian.png"
                         style="width: 3px; height: 187px; margin-right: 101%; margin-top: -22%">
                </div>
            </div>
            <div class="col-lg-6" style="margin-left: -2%">
                <img src="/static/images/paralleTeachers/2.png" alt="">
            </div>
        </div>
        <br/><br/><br/><br/>
        <br/><br/><br/><br/>
        <div class="row" style="text-align: center;">
            <div class="col-lg-6">
                <div style="width: 100%; height: 470px; position: relative;left: 55px;">
                    <img src="/static/images/paralleTeachers/3.png" alt="">
                </div>
            </div>
            <div class="col-lg-6" style=" margin-top: 2%;" >

                <div style="background-color: white; width: 100%; height: 453px;margin-left: -3%;">
                    <p class="AEASWFTE_zdy" style="color: #ff9900;font-size: 40px; margin-left: -57%"><br/><b>PARAL</b>
                    </p>
                    <p class="AEASWFTE_zdy" style="margin-left: -16%;margin-top: -5%; font-size: 20px; color: #666666">
                        <b>FUN</b></p>
                    <br/><br/>
                    <h2 class="Regular" style="font-size: 30px;color: #666666">英语启蒙线上课(L1-2)</h2>
                    <br/><br/>
                    <p class="Light"
                       style=" color:#666666;text-indent: 2em; align-content: center;width: 428px;margin: 0 auto;font-size: 15px; line-height: 33px; text-align: left">英语启蒙线上课专为低龄和英语零基础的孩子设计，纯外教上课，营造母语环境；每天30分钟，每周连续4天高频学习。自拼及绘本精度为教学主线，给孩子打好听力、口语的基础，给孩子创造母语思维的最佳时机。。</p>
                    <button type="button" class="btn btn-warning NotoSansHans-Thin-Windows"
                            style="margin-left: 46%; margin-top: 7%; font-size: 14px"
                            onclick=javascrtpt:websiteEnlightenment()>查看更多
                    </button>
                    <img src="/static/images/paralleTeachers/shuxian.png"
                         style="width: 187px; height: 5px; margin-left: 76%; margin-top: 10%">
                    <img src="/static/images/paralleTeachers/henxian.png"
                         style="width: 4px; height: 187px; margin-left: 100%; margin-top: -25%">
                </div>
            </div>

            <!--<div class="col-lg-3"></div>-->
        </div>
        <br/><br/><br/><br/>
        <br/><br/><br/><br/>
        <div class="row" style="text-align: center">
            <!--<div class="col-lg-3"></div>-->
            <div class="col-lg-6" style=" margin-top: 2%;">
                <div style="background-color: white; width: 100%; height: 453px; position: relative;left: 55px;z-index: 2;">
                    <p class="AEASWFTE_zdy" style="color: #ff9900;font-size: 40px;"><br/><b>PARAL</b>
                    </p>
                    <p class="AEASWFTE_zdy" style="margin-left: 50%;margin-top: -5%; font-size: 20px; color: #666666"><b>SYSTEM</b>
                    </p>
                    <br/><br/>
                    <h2 class="Regular" style="font-size: 30px;color: #666666">线上体系必修课(L3-8)</h2>
                    <br/><br/>
                    <p class="Light"
                       style="text-indent: 2em; align-content: center;width: 80%;margin: 0 auto; font-size: 15px; text-align: left;line-height: 30px">
                        线上体系必修课专为7-15岁小学和初中的学员设计,真人外教1对2同伴授课。教学内容涉及美国小学教程，分级阅读，自然拼读，跨学科知识，以及小学课改版同步知识。将艺术、自然科学、世界文化等跨学科内容和创新、跨文化交流、独立思考、解决问题、项目协作、数字化学习等21世纪技能融入英语学习。</p>
                    <button type="button" class="btn btn-warning NotoSansHans-Thin-Windows"
                            style="margin-right: 69%; margin-top: 5%; font-size: 15px;"
                            onclick=javascrtpt:websiteSystemCourse()>查看更多
                    </button>
                    <img src="/static/images/paralleTeachers/shuxian.png"
                         style="width: 187px; height: 6px;position: relative;top: 47px;left: -41%;">
                    <img src="/static/images/paralleTeachers/henxian.png"
                         style="width: 3px; height: 187px; margin-right: 101%; margin-top: -22%">
                </div>
            </div>
            <div class="col-lg-6" style="margin-left: -2%">
                <img src="/static/images/paralleTeachers/4.png" alt="">
            </div>
        </div>
        <br/><br/><br/><br/>
        <br/><br/><br/><br/>
        <div class="row" style="text-align: center;">
            <!--<div class="col-lg-3"></div>-->
            <div class="col-lg-6">
                <div style="width: 100%; height: 470px; position: relative;left: 55px;">
                    <img src="/static/images/paralleTeachers/5.png" alt="">
                </div>
            </div>
            <div class="col-lg-6" style="margin-top: 3%">

                <div style="background-color: white; width: 100%; height: 453px; margin-top: -1%;margin-left: -3%;">
                    <p class="AEASWFTE_zdy" style="color: #ff9900;font-size: 40px; margin-left: -57%"><br/><b>PARAL</b>
                    </p>
                    <p class="AEASWFTE_zdy" style="margin-top: -5%; font-size: 20px; color: #666666; margin-left: 7%;"><b>ONLINE<span class="MSYH_zdy" style="color: #666666;">&</span>OFFLINE</b>
                    </p>
                    <br/><br/>
                    <h2 class="Regular" style="font-size: 30px;color: #666666;">线上/线下同步学</h2>
                    <br/><br/>
                    <p class="Light"
                       style="text-indent: 2em; align-content: center;width: 73%;margin: 0 auto;font-size: 16px; line-height: 28px; color: #666666; text-align: left;">
                        线上线下同步学为7-15岁的青少儿学生设计，线上课程与线下课程相结合的模式。采用中外教结合的授课方式，线下中教课提升阅读和书写以及应用能力，线上外教课堂提升学生的口语和听力。教学内容涉及美国小学教程，分级阅读，自然拼读，跨学科知识，以及小学课改版同步知识。将艺术、自然科学、世界文化等跨学科内容和创新、跨文化交流、独立思考、解决问题、项目协作、数字化学习等21世纪技能融入英语学习。</p>
                    <button type="button" class="btn btn-warning NotoSansHans-Thin-Windows"
                            style="margin-left: 55%; font-size: 15px; margin-top: -3%;"
                            onclick=javascrtpt:synchronousLearning()>查看更多
                    </button>
                    <img src="/static/images/paralleTeachers/shuxian.png"
                         style="width: 188px; height: 5px; margin-left: 73%; margin-top: 8%;">
                    <img src="/static/images/paralleTeachers/henxian.png"
                         style="width: 4px; height: 188px; margin-left: 100%; margin-top: -24%">
                </div>
            </div>


            <!--<div class="col-lg-3"></div>-->
        </div>
        <br/><br/><br/><br/>
        <br/><br/><br/><br/>
        <div class="row" style="text-align: center">
            <!--<div class="col-lg-3"></div>-->
            <div class="col-lg-6" style=" margin-top: 2%;">
                <div style="background-color: white; width: 100%; height: 453px; position: relative;left: 55px;z-index: 2;">
                    <p class="AEASWFTE_zdy" style="color: #ff9900;font-size: 40px; "><br/><b>PARAL</b>
                    </p>
                    <p class="AEASWFTE_zdy" style="margin-left: 60%;margin-top: -5%; font-size: 20px; color: #666666"><b>Double
                        Teachers</b>
                    </p>
                    <br/><br/>
                    <h2 class="Regular" style="font-size: 30px;color: #666666">双 师 课 堂</h2>
                    <br/><br/>
                    <p class="Light"
                       style="text-indent: 2em; align-content: center;width: 80%;margin: 0 auto; font-size: 15px; text-align: left;line-height: 30px">
                        双师课堂课程专为3-6岁学龄前学生设计的，是一种在原有的课堂上的一种创新，也是一种教育形式的创新，这种创新可以给人们的学习带来更大的好处，因为双师课堂不仅能够将优质的师资力量发挥到更大，而且它的覆盖范围很广，远程在线授课让更多学生接受到优质的教育，而且线下辅导老师的存在，也可以最大程度上的帮助孩子、解答孩子的各种疑惑，让他们能够更加的理解学习内容，学习到更多更透彻的知识。</p>
                    <button type="button" class="btn btn-warning NotoSansHans-Thin-Windows"
                            style="margin-right: 69%; margin-top: 1%; font-size: 15px;"
                            onclick=javascrtpt:doubleClass()>查看更多
                    </button>
                    <img src="/static/images/paralleTeachers/shuxian.png"
                         style="width: 187px; height: 6px;position: relative;top: 40px;left: -41%;">
                    <img src="/static/images/paralleTeachers/henxian.png"
                         style="width: 3px; height: 187px; margin-right: 101%; margin-top: -22%">
                </div>
            </div>
            <div class="col-lg-6" style="margin-left: -2%">
                <img src="/static/images/paralleTeachers/7.png" alt="">
            </div>
        </div>
        <br/><br/><br/>
        <br/><br/><br/>
        <br/><br/><br/>
        <br/><br/><br/>
        <div class="row" style="text-align: center;">
            <div class="col-lg-3"></div>
            <div class="col-lg-6" style="text-align: center; ">
                <div style="background-color: white;border-radius: 10px; margin: 0 auto; width: 350px; height: 124px;box-shadow: 2px 2px 14px #d7d7d7; ">
                    <p class="Medium" style="font-size: 30px;  color: #333333;padding: 17px; "><b>师资优势</b></p>
                    <p class="Light" style="font-size: 18px; color: #666666;">T E A C H I N G &nbsp;&nbsp;&nbsp;&nbsp;A D V A N T A G E S</p>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <br/><br/><br/>
        <br/><br/><br/>
        <div class="row" style="text-align: center">
            <div class="col-lg-12">
                <div style="width: 100%; height: 100%;">
                    <p class="Medium" style="font-size: 30px;color: #333333;">为什么要跟平行外教的老师一起学习?</p>
                    <p class="DemiLight" style="font-size: 15px; color: #666666;">W H Y&nbsp;&nbsp;&nbsp;&nbsp;D O&nbsp;&nbsp;&nbsp;&nbsp;W E&nbsp;&nbsp;&nbsp;&nbsp;C H O O S E&nbsp;&nbsp;&nbsp;&nbsp;P A R A L&nbsp;&nbsp;&nbsp;&nbsp;T E A C H E R S ?</p>
                    <br/>
                    <p class="DemiLight" style="font-size: 15px; color: #666666;">外教平均教龄5年以上/筛选通过率不超过8%/来自欧美本科学历以上</p>
                </div>
            </div>
        </div>
        <br/><br/><br/>
        <div class="row" style="margin-left: 0; margin-right: 0;">
            <div class="col-lg-12">
                <img src="/static/images/paralleTeachers/fdgk.png" />
            </div>
        </div>
        <br/><br/><br/>
        <br/><br/><br/>
        <script>
            function chooseTeacher() {
                window.location.href = "/parallel/chooseTeacher";
            }
        </script>
        <!--轮播图开始-->
        <div class="row" style="margin-left: 0; margin-right: 0;">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <section class="pc-banner">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide swiper-slide-center none-effect" style="align-content: center">
                                <a href="">
                                    <img src="/static/images/paralleTeachers/播放1.png">
                                </a>
                                <div class="layer-mask"></div>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <img src="/static/images/paralleTeachers/播放2.png">
                                </a>
                                <div class="layer-mask"></div>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <img src="/static/images/paralleTeachers/播放3.png">
                                </a>
                                <div class="layer-mask"></div>
                            </div>
                        </div>
                        <div class="button">
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>

                </section>

            </div>
            <div class="col-lg-2"></div>
        </div>
        <!--轮播图结束-->
        <br/><br/><br/>
        <!--查看外教开始-->
        <div class="row" style="margin-bottom: 2%;">
            <div class="col-lg-12" style=" margin-right: 0px;margin-left: 0px;padding: 0px;"  >
                <button type="button" class="btn btn-warning Regular btnxuxiao" style="display:block; font-size: 15px;margin: 0 auto; width: 188px;" onclick="javascrtpt:chooseTeacher()">查看更多外教老师</button>
            </div>
        </div>
        <!--查看外教结束-->
        <br/><br/><br/>
        <br/><br/><br/>
        <div class="row" style="text-align: center; background-color: white; margin-left: 0; margin-right: 0;">
            <br/><br/><br/><br/><br/><br/>
            <div class="col-lg-6" style="width: 100%;">
                <p class="Regular" style="font-size: 30px;color: #fba22e">平行外教的教师评定标准</p>
                <br/><br/>
                <p class="DemiLight" style="font-size: 15px; color: #666666;">平行外教凭借多年运营外籍人才引进项目，总结出甄选好外教老师的方法。</p>
                <p class="DemiLight" style="font-size: 15px; color: #666666;">层层把关，筛选通过率不超过8%</p>
            </div>

            <br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/><br/>
            <br/><br/><br/>
            <!--图片开始-->
            <img src="/static/images/paralleTeachers/parallelTeacher.png"  />
            <br/><br/><br/>
            <br/><br/><br/>
            <br/><br/><br/>
            <!--图片结束-->
        </div>
    </div>
</div>
<div th:replace="front/pingxingwaijiaofooter.html :: footer"></div>
<script type="text/javascript" src="/static/js/paralleTeachers/swiper.min.js"></script>
<script type="text/javascript">

    window.onload = function () {
        var swiper = new Swiper('.swiper-container', {
            autoplay: false,
            speed: 1000,
            autoplayDisableOnInteraction: false,
            loop: true,
            centeredSlides: true,
            slidesPerView: 2,
            pagination: '.swiper-pagination',
            paginationClickable: true,
            prevButton: '.swiper-button-prev',
            nextButton: '.swiper-button-next',
            onInit: function (swiper) {
                swiper.slides[2].className = "swiper-slide swiper-slide-active";
            },
            breakpoints: {
                668: {
                    slidesPerView: 1,
                }
            }
        });
    }

</script>
</body>
</html>