<div th:fragment="parallel_head">
    <!--<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/layui/css/layui.css"/>
    <style type="text/css">
        .bk{
            border-radius: 10px;
            border: white solid 2px;
            height: 35px;
            line-height: 31px;
            width: 120%;
            margin: 0 auto;
            text-align: center;
        }
        .jk{
            animation:All 5.5s ease-in;
            margin: 0px 5px 0px 10px;
        }

        /****************右侧固定栏的样式*******************/

        .layerForm ul li .formBox label input {
            filter: alpha(opacity=0);
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
        }

        .layerTxt {
            padding-left: 115px;
            padding-right: 30px;
            line-height: 30px;
            font-size: 14px;
            color: #9b9b9b;
            text-align: center;
        }

        * {
            margin: 0;
            padding: 0;
        }

        input {
            border-right: none;
            border-top: none;
            border-left: none;
            margin: 0;
            padding: 0;
            border-bottom: white 10px;
        }

        ul,
        ol {
            list-style: none;
        }

        /*火狐去掉按钮、连接的虚线*/

        a:focus,
        a:active,
        button::-moz-focus-inner,
        input[type="reset"]::-moz-focus-inner,
        input[type="button"]::-moz-focus-inner,
        input[type="submit"]::-moz-focus-inner,
        select::-moz-focus-inner,
        input[type="file"] > input[type="button"]::-moz-focus-inner {
            border: 0;
            outline: 0;
        }

        /*右侧导航栏*/

        .xgwz_fix {
            width: 90px;

            /*background-color: #fff;*/
            /*box-shadow: 0 0 10px #ccc;*/
            position: fixed;
            z-index: 99999;
            top: 53%;
            right: 20px;
            border-radius: 50px;
            text-align: center;
            padding: 30px 10px;
        }

        .xgwz_fix img {
            display: initial;
            margin: 10px 0px;
            cursor: pointer;
        }

        .xgwz_fix .fuwuhao-pic {
            display: none;
            position: absolute;
            width: 177px;
            border: 3px solid #fff;
            box-shadow: 0 0 10px #ccc;
        }

        .xgwz_fix .fuwuhao-pic img {
            max-width: 100%;
        }

        .xgwz_fix a.fuwuhao {
            position: relative
        }

        .xgwz_fix a.fuwuhao:hover .fuwuhao-pic {
            display: block;
            right: 80px;
            top: -118px;
        }

        .kefudianhua-pic {
            display: none;
            position: absolute;
            width: 260px;
            height: 50px;
            line-height: 50px;
            background: #fff;
            color: #ff8a00;
            font-size: 30px;
            text-align: center;
            box-shadow: 0 0 10px #ccc;
        }

        .xgwz_fix a.kefudianhua {
            position: relative
        }

        .xgwz_fix a.kefudianhua:hover .kefudianhua-pic {
            display: block;
            right: 80px;
            bottom: -25px;
        }

        .xgwz_fix h4 {
            font-size: 16px;
            margin-bottom: 10px;
        }

        /*遮罩*/

        .deskDiv {
            display: none;
            width: 100%;
            height: 100%;
            background: url(/static/images/paralleTeachers/back5.png) repeat;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 100;
        }

        .closeBox {
            float: right;
            cursor: pointer;
            display: block;
            width: 65px;
            height: 55px;
            background: url(/static/images/paralleTeachers/X.png) center center no-repeat;
            -moz-transition: all 0.3s ease-in;
            -webkit-transition: all 0.3s ease-in;
            -o-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
        }

        /*弹出层*/

        .layerDiv {
            display: none;
            padding-bottom: 30px;
            width: 500px;
            height: auto;
            position: fixed;
            left: 50%;
            margin-left: -250px;
            top: 0;
            background: #fff;
            border-radius: 20px;
            z-index: 110;
        }

        .layerDiv .layerTitle {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            padding: 0 0 0 20px;
            height: auto;
            background-color: red; /* 不支持线性的时候显示 */
            background-image: linear-gradient(to right, #ff9900,#ffd200);
            overflow: hidden;
        }

        .layerDiv .layerTitle h2 {
            padding-left: 40px;
            /*background: url(/static/img/ico15.png) 0 center no-repeat;*/
            height: 56px;
            line-height: 56px;
            float: left;
            font-size: 18px;
            color: #fff;
        }

        .closeBox:hover {
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
        }

        .layerForm {
            padding: 30px 30px 0;
            height: auto;
        }

        .layerForm ul {
            width: 100%;
            height: auto;
            float: left;
        }

        .layerForm ul li {
            margin-bottom: 12px;
            width: 100%;
            height: auto;
            float: left;
        }

        .layerForm ul li span {
            width: 85px;
            display: block;
            float: left;
            height: 33px;
            line-height: 32px;
            font-size: 14px;
            color: #4a4a4a;
        }

        .layerForm ul li .formBox {
            width: 355px;
            float: left;
            height: 32px;
            border-bottom: 1px solid #e9e4e5;
        }

        .layerForm ul li .formBox1 {
            height: 33px;
            border-bottom: none;
        }

        .layerForm ul li .formtxt {
            height: 32px;
            line-height: 32px;
            width: 100%;
            font-size: 14px;
            color: #666;
        }

        .layerForm ul li .formBtn {
            margin-top: 10px;
            width: 100%;
            height: auto;
            float: right;
        }

        #submit {
            letter-spacing: 1px;
            text-indent: 1px;
            width: 50%;
            height: 40px;
            border-radius: 10px;
            border: 0px;
            cursor: pointer;
            background: #ff9900;
            font-size: 14px;
            color: #fff;
            text-align: center;
            -moz-transition: all 0.3s ease-in;
            -webkit-transition: all 0.3s ease-in;
            -o-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
        }
        #submit:hover {
            background: #ff1235;
        }

        #promptlySubmit{
            letter-spacing: 1px;
            text-indent: 1px;
            width: 50%;
            height: 40px;
            border-radius: 10px;
            border: 0px;
            cursor: pointer;
            background: #ff9900;
            font-size: 14px;
            color: #fff;
            text-align: center;
            -moz-transition: all 0.3s ease-in;
            -webkit-transition: all 0.3s ease-in;
            -o-transition: all 0.3s ease-in;
            transition: all 0.3s ease-in;
        }

        #promptlySubmit:hover {
            background: #ff1235;
        }

        /******************右侧固定栏样式结束*********************/

        .logoli{
            position: relative;
            display: inline-block;
            *display: inline;
            *zoom: 1;
            vertical-align: middle;
            line-height: 60px;
        }

    </style>
    <ul class="layui-nav" lay-filter=""
        style=" height: 50px; position: absolute;top: 0px;z-index: 99;width: 100%; background-color: #2d2d2d;opacity: 0.5;">
        <li class="logoli"><img style=" width: 18%;position: relative; top: -6px;"
                                        src="\static\images\paralleTeachers\zwlogo.png"></li>
        <div style="float: right; margin-right: 2%;">
            <li class="layui-nav-item jk"><a href="/parallel"
                                             style=" font-size: 16px;text-decoration: none;color: white; line-height: 50px; padding: 0 10px;">首页</a>
            </li>
            <li class="layui-nav-item jk">
                <a href="javascript:;" style=" font-size: 16px;text-decoration: none; line-height: 50px; z-index: 99;">课程</a>
                <!--rgba(255,2,2,.3);    设置透明度-->
                <dl class="layui-nav-child" style="background-color:rgba(0,0,0,.6);  top: 48px;">
                    <a href="/parallel/commodityOne" style="color: white;">自拼专项口语线上课</a>
                    <a href="/parallel/drawTheBookWebsite" style="color: white;">绘本专项口语线上课</a>
                    <a href="/parallel/websiteEnlightenment" style="color: white;">英语启蒙线上课</a>
                    <a href="/parallel/websiteSystemCourse" style="color: white;">线上体系必修课</a>
                    <a href="/parallel/synchronousLearning" style="color: white;">线上/线下同步学</a>
                    <a href="/parallel/doubleClass" style="color: white;">双师课堂</a>
                </dl>
            </li>
            <li class="layui-nav-item jk"><a href="/parallel/chooseTeacher"
                                             style=" font-size: 16px;text-decoration: none;line-height: 50px; padding: 0 10px; ">选择外教</a>
            </li>
            <!--<li class="layui-nav-item jk"><a href="/parallel/maxwisdom"
                                             style=" font-size: 16px;text-decoration: none;line-height: 50px; padding: 0 10px;">演示站</a>
            </li>-->
            <li class="layui-nav-item jk"><a href="/parallel/partener"
                                             style=" font-size: 16px;text-decoration: none;line-height: 50px; padding: 0 10px;">城市合伙人</a>
            </li>
            <li class="layui-nav-item jk"><a href="#" onclick="xuexiaoruzhu();"
                                             style=" font-size: 16px;text-decoration: none;padding: 0px;line-height: 50px; padding: 0 10px;font-weight: 700">
                登录/注册
            </a></li>
            <li class="layui-nav-item jk" ><a href="#"id="getRecive" style=" font-size: 16px;text-decoration: none;line-height: 50px; padding: 0 10px;">ENGLISH</a></li>
        </div>
    </ul>


    <div class="deskDiv " style="display: none; "></div>
    <div class="layerDiv school " id="schoolnav" style="top: 194px; display: none; z-index: 9999;">
        <div class="layerTitle ">
            <h2>学校入驻</h2>
            <span class="closeBox " id="closeSchool"></span>
        </div>
        <form class="layerForm cleafix " @submit.prevent="ruzhu($event)"
              name="form3 " id="form3 ">
            <ul>
                <li>
                    <span>学校名称</span>
                    <div class="formBox "><input class="formtxt " v-model="schoolbabyname" type="text " name="schoolname "
                                                 maxlength="30" style="border-bottom: 1px solid #e2e2e2;">
                    </div>
                </li>
                <li>
                    <span>学校地址</span>
                    <div class="formBox "><input class="formtxt " v-model="schooladdress" type="text "
                                                 @blur="blur_phone()" name="schooladdress " maxlength="11 "style="border-bottom: 1px solid #e2e2e2;">

                    </div>
                </li>
                <li>
                    <span>联系人</span>
                    <div class="formBox "><input class="formtxt " v-model="schoolphone" type="text "
                                                 @blur="blur_phone()" name="schoolphone " maxlength="11 "style="border-bottom: 1px solid #e2e2e2;">

                    </div>
                </li>

                <li>
                    <span>联系人电话</span>
                    <div class="formBox "><input class="formtxt " v-model="schoolphoneNumber" type="text "
                                                 @blur="blur_phone()" name="schoolphoneNumber " maxlength="11 "style="border-bottom: 1px solid #e2e2e2;">

                    </div>
                </li>
                <li>
                    <span>在校人数</span>
                    <div class="formBox "><input class="formtxt " v-model="schoolnum" type="text " name="schoolnum "
                                                 maxlength="2"style="border-bottom: 1px solid #e2e2e2;">

                    </div>
                </li>

                <li>
                    <span>学生年龄</span>
                    <div class="formBox "><input class="formtxt " v-model="schoolage" type="text " name="schoolage "
                                                 maxlength="2"style="border-bottom: 1px solid #e2e2e2;">
                    </div>
                </li>

                <li style="text-align: center;">

                    <div class="formBtn ">
                        <button type="submit" id="promptlySubmit" class="  submit1 ruzhusubmit">
                            <strong id="promptly">立即入驻</strong>
                        </button>
                    </div>

                    <!-- <div class="formBtn ">

                         <button type="submit" id="submit" class="submit1 baomingsubmit">
                             <strong id="fixdtishimsg">立即领取</strong>
                         </button>
                     </div>-->

                </li>
                <p style="width: 100%;color: #9b9b9b;text-align: center;">我们将在24小时内联系您</p>
            </ul>

        </form>

    </div>




    <!--弹出-->
    <div class="deskDiv " style="display: none; "></div>

    <div class="layerDiv receive " id="rightnav" style="top: 194px; display: none; z-index: 9999;">
        <div class="layerTitle ">
            <h2>免费领取试听课</h2>
            <span class="closeBox " id="close"></span>
        </div>
        <form class="layerForm cleafix " @submit.prevent="baoming($event)"
              name="form2 " id="form2 ">
            <ul>
                <li>
                    <span>名称</span>
                    <div class="formBox "><input class="formtxt " v-model="babyname" type="text " name="name "
                                                 maxlength="30" style="border-bottom: 1px solid #e2e2e2;">
                    </div>
                </li>
                <li>
                    <span>年龄</span>
                    <div class="formBox "><input class="formtxt " v-model="babyage" type="text " name="babyage "
                                                 maxlength="2"style="border-bottom: 1px solid #e2e2e2;">


                    </div>
                </li>
                <li>
                    <span>电话</span>
                    <div class="formBox "><input class="formtxt " v-model="phoneNumber" type="text "
                                                 @blur="blur_phone()" name="phoneNumber " maxlength="11 "style="border-bottom: 1px solid #e2e2e2;">

                    </div>
                </li>

                <li style="text-align: center;">

                    <div class="formBtn ">

                        <button type="submit" id="submit" class="submit1 baomingsubmit">
                            <strong id="fixdtishimsg">立即领取</strong>
                        </button>
                        <!--                        <button type="submit"  id="submit" class="submit1 baomingsubmit" ><strong>{{tishimsg}}<strong/></button>-->
                        <!--                    -->


                    </div>
                </li>
                <p style="width: 100%;color: #9b9b9b;text-align: center;">我们将在24小时内联系您</p>
            </ul>

        </form>

    </div>

    <script src="/static/layui/layui.js" charset="utf-8"></script>

    <script type="text/javascript">
        layui.use('element', function () {
            var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

            //监听导航点击
            element.on('nav(demo)', function (elem) {
                //console.log(elem)
                layer.msg(elem.text());
            });
        });
        /*学校入驻*/
        function xuexiaoruzhu(){

            $('.deskDiv').fadeIn(100);
            $(".school ").css({
                top: ($(window).height() - ($(".layerDiv ").height() + 30)) / 2,
                display: 'block'
            });

        }


        $(function () {

            /* 学校入驻   控制模态框关闭*/
            $('#closeSchool').click(function () {

                $('.deskDiv').css({
                    display: 'none'
                });
                $(".school ").css({
                    display: 'none'
                });
            });

            /*控制模态框显示关闭*/
            $('#getRecive').click(function () {
                $('.deskDiv').fadeIn(100);
                $(".receive ").css({
                    top: ($(window).height() - ($(".layerDiv ").height() + 30)) / 2,
                    display: 'block'
                });
            });
            /*控制模态框关闭*/
            $('#close').click(function () {

                $('.deskDiv').css({
                    display: 'none'
                });
                $(".receive ").css({
                    display: 'none'
                });
            });
        })
        var schoolright = new Vue({
            el: "#schoolnav",
            data: {
                schoolbabyname: '',
                schooladdress: '',
                schoolphone: '',
                schoolphoneNumber: '',
                schoolnum: '',
                schoolage: '',
                tishimsg: '立即入驻',
            },
            /*限制只能输入数字*/
            watch: {
                schoolage: function () {
                    this.schoolage = this.schoolage.replace(/\D/g, '')
                },
                phoneNumber: function () {
                    this.schoolphoneNumber = this.schoolphoneNumber.replace(/\D/g, '')
                }
            },
            methods: {
                /*提交按钮*/
                ruzhu: function (event) {

                    // 检查正则
                    var  sc_phone= /^1[345789]\d{9}$/;

                    if (this.schoolbabyname == "" || this.schoolbabyname == null) {
                        $("#promptly").html('请填写名称');
                        var bba = this;
                        setTimeout(function () {
                            $("#promptly").html('立即入驻');

                        }, 2000);
                    }else if (this.schooladdress == "" || this.schooladdress == null) {
                        $("#promptly").html('请填写学校地址');
                        var bba = this;
                        setTimeout(function () {
                            $("#promptly").html('立即入驻');
                        }, 2000);

                    }else if (this.schoolphone == "" || this.schoolphone == null) {
                        $("#promptly").html('请填写联系人');
                        var bba = this;
                        setTimeout(function () {
                            $("#promptly").html('立即入驻');

                        }, 2000);

                    }else if (this.schoolphoneNumber == "" || this.schoolphoneNumber == null) {
                        $("#promptly").html('请填写联系人电话号码');
                        var bba = this;
                        setTimeout(function () {
                            $("#promptly").html('立即入驻');

                        }, 2000);
                    }else if (this.schoolnum == "" || this.schoolnum == null) {
                        $("#promptly").html('请填写在校人数');
                        var bba = this;
                        setTimeout(function () {
                            $("#promptly").html('立即入驻');

                        }, 2000);
                    }else if (this.schoolage == "" || this.schoolage == null) {
                        $("#promptly").html('请填写年龄');
                        var bba = this;
                        setTimeout(function () {
                            $("#promptly").html('立即入驻');
                        }, 2000);
                    }  else if (sc_phone.test(this.schoolphoneNumber)) {//符合则提交
                        var bba = this;

                        console.log("提交");

                        $.ajax({
                            //几个参数需要注意一下
                            type: "POST",//方法类型
                            //  dataType: "json",//预期服务器返回的数据类型
                            url: "/audition/school",//url
                            //processData:false,//取消默认的序列化,因为formaata已经是序列化的数据
                            data: {"schoolbabyname": this.schoolbabyname, "schooladdress": this.schooladdress, "schoolphone": this.schoolphone,
                                "schoolphoneNumber": this.schoolphoneNumber,"schoolnum": this.schoolnum,"schoolage": this.schoolage
                            },
                            success: function (result) {
                                fanhui = result;
                                if (fanhui == "sucees") {
                                    message('入驻成功，我们将尽快联系您！');
                                    $(function () {
                                        $('.deskDiv').css({
                                            display: 'none'
                                        });
                                        $(".school ").css({
                                            display: 'none'
                                        });

                                        $(".ruzhusubmit").attr("disabled", "true");
                                        $(".ruzhusubmit").html("<strong>入驻成功!<strong/>")
                                    })
                                } else if (fanhui == "false") {
                                    message({
                                        message: '报名失败!',
                                        type: 'error'
                                    });


                                } else {
                                    message({
                                        message: '服务器异常!!!',
                                        type: 'error'
                                    });
                                }

                            }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                                console.log(error);
                                message({
                                    message: '服务器异常!!!',
                                    type: 'error'
                                });
                            }

                        })


                    } else {
                        $("#promptly").html('手机号错误！');
                        //$("#btnsubm").css("background-color","red");
                        var bba = this;
                        setTimeout(function () {
                            $("#promptly").html(bba.$t('立即入驻'));

                        }, 2000);


                    }
                },
                blur_phone: function () { //除了数字,不让键盘的按键起作用

                }
                ,
            }

        })
        /******************固定栏jquery开始***************/
        var right = new Vue({
            el: "#rightnav",
            data: {
                babyage: '',
                babyname: '',
                phoneNumber: '',
                tishimsg: '立即领取',
            },
            /*限制只能输入数字*/
            watch: {
                babyage: function () {
                    this.babyage = this.babyage.replace(/\D/g, '')
                },
                phoneNumber: function () {
                    this.phoneNumber = this.phoneNumber.replace(/\D/g, '')
                }
            },
            methods: {
                /*提交按钮*/
                baoming: function (event) {

                    // 检查正则
                    var re_phone = /^1[345789]\d{9}$/;

                    if (this.babyname == "" || this.babyname == null) {
                        $("#fixdtishimsg").html('请填写名称');
                        var bba = this;
                        setTimeout(function () {
                            $("#fixdtishimsg").html('立即领取');

                        }, 2000);
                    } else if (this.babyage == "" || this.babyage == null) {
                        $("#fixdtishimsg").html('请填写年龄');
                        var bba = this;
                        setTimeout(function () {
                            $("#fixdtishimsg").html('立即领取');

                        }, 2000);

                    } else if (this.phoneNumber == "" || this.phoneNumber == null) {
                        $("#fixdtishimsg").html('请填写电话号码');
                        var bba = this;
                        setTimeout(function () {
                            $("#fixdtishimsg").html('立即领取');

                        }, 2000);
                    } else if (re_phone.test(this.phoneNumber)) {//符合则提交
                        var bba = this;

                        console.log("提交");

                        $.ajax({
                            //几个参数需要注意一下
                            type: "POST",//方法类型
                            //  dataType: "json",//预期服务器返回的数据类型
                            url: "/audition/apply",//url
                            //processData:false,//取消默认的序列化,因为formaata已经是序列化的数据
                            data: {"babyage": this.babyage, "babyname": this.babyname, "phoneNumber": this.phoneNumber},
                            success: function (result) {
                                fanhui = result;
                                if (fanhui == "sucees") {
                                    message('领取成功，我们将尽快联系您！');

                                    $(function () {
                                        $('.deskDiv').css({
                                            display: 'none'
                                        });
                                        $(".receive ").css({
                                            display: 'none'
                                        });

                                        $(".baomingsubmit").attr("disabled", "true");
                                        $(".baomingsubmit").html("<strong>领取成功!<strong/>")
                                    })
                                } else if (fanhui == "false") {
                                    message({
                                        message: '报名失败!',
                                        type: 'error'
                                    });


                                } else {
                                    message({
                                        message: '服务器异常!!!',
                                        type: 'error'
                                    });
                                }

                            }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                                console.log(error);
                                message({
                                    message: '服务器异常!!!',
                                    type: 'error'
                                });
                            }

                        })


                    } else {
                        $("#fixdtishimsg").html('手机号错误！');
                        //$("#btnsubm").css("background-color","red");
                        var bba = this;
                        setTimeout(function () {
                            $("#fixdtishimsg").html(bba.$t('立即领取'));

                        }, 2000);


                    }
                },
                blur_phone: function () { //除了数字,不让键盘的按键起作用

                }
                ,
            }

        })

    </script>
</div>