<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security3">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <title>无权限</title>
</head>
<body>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="row">
    <div class=" col-sm-4 col-xs-1 " style="text-align: center;">
    </div>
    <div class=" col-sm-4 col-xs-10 " style="text-align: center;">
        <img src="\static\images\system\no_access.png" width="100%">
    </div>
    <div class=" col-sm-4 col-xs-1 " style="text-align: center;">
    </div>
</div>
<br/>
<br/><br/>

<div class="row">
<div class="col-sm-12" style="text-align: center;">
    <a href="javascript:history.back(-1)"><button  class="btn btn-success h3"> 点击返回</button></a>
</div>
</div>
</body>
</html>