<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="/static/images/paralleTeachers/logico.ico" type="image/x-icon"/>
    <title>自拼网站</title>

    <script src="/static/js/jquery-2.1.1.min.js"></script>
    <!--    错误提示-->
    <link rel="stylesheet" href="/static/js/message/message.css"/>
    <script src="/static/js/message/message.js"></script>
    <script src="/static/js/vue/axios.min.js"></script>
    <script src="/static/js/vue/vue.js"></script>
    <!--    路由-->
    <script src="/static/js/vue/vue-router.js"></script>
    <!--国际化-->
    <script src="/static/js/vue/vue-i18n.js"></script>
    <!--导入国际化语言包-->
    <script src="/static/js/vue/lang/en-US.js"></script>
    <script src="/static/js/vue/lang/zh-CN.js"></script>
    <!--bootstarp-->
    <script src=" /static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!--引入字体-->
    <link rel="stylesheet" href="/static/css/fonts_custom.css"/>

    <link rel="stylesheet" href="/static/layui/css/layui.css"/>
    <link rel="stylesheet" href="/static/css/paralleTeachers/base.css">
    <link rel="stylesheet" href="/static/css/paralleTeachers/index.css">
    <link type="text/css" rel="stylesheet" href="/static/css/paralleTeachers/style.css">

    <!--<link rel="stylesheet" href="//res.layui.com/layui/dist/css/layui.css"  media="all">-->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?016ad8c6d8aa38ae08176064d55c5bda";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <style>
        img {
            width: 100%;
        }

        .li_img {
            width: 800px;
            float: left;
            list-style: none;
        }

        .ul_img {
            width: 6000px;
            padding: 0px;
            margin: 0px;
            transition: all 2s;
        }

        .main_div {
            width: 800px;
            overflow: hidden;
            position: relative;
            top: 100px;
            left: 350px;
        }

        .arrows {
            z-index: 9999;
            position: absolute;
            padding-top: 230px;
            width: 800px;
        }

        .arrows span {
            font-size: 3em;
            color: seashell;
        }

        .arrows span:hover {
            /*变小手*/
            cursor: pointer;
            background-color: rgba(192, 192, 192, 0.29);
        }

        .div_btn {
            float: left;
            border-radius: 100px;
            background-color: aquamarine;
            width: 60px;
            height: 10px;
            margin-left: 10px;
            margin-top: 130px;
        }

        .div_btn:hover {
            background-color: aqua;

        }

        .jk:hover{

            transform: scale(1.1);
            /*border-bottom: 1px solid yellow;*/
        }
        body{
            background-image: url(/static/images/commodity/bottom.png);background-size: cover;

        }
    </style>

</head>
<body>

<div class="box">
    <div th:replace="front/parallel_head :: parallel_head" ></div>
    <div>
        <img src="/static/images/commodity/123.jpg">
    </div>
    <div class="main">
        <div class="row" style="margin-left: 0; margin-right: 0;">
            <div class="col-lg-12" >
                <div style="width: 65%;margin: 0 auto; line-height: 30px;">
                    <p class="Regular" style="font-size: 30px;color: #ff9900;text-align: center; margin-top: 80px">为什么要学自然拼读？</p>
                    <br/>
                    <p class="DemiLight" style="font-size: 15px; text-indent: 2em; color: #666666;">“自然拼读”教学法是目前国际上最推崇的英语教学方法之一，也是英美国家最主流的英语启蒙方知法。这种方法通过建立字母(Letter)和发音(Sound)的对应关系，让孩子看到陌生的单词时，不管这个单词有多长、多难，都可以读出正确的发音。同时，是帮助孩子扩大词汇量、提高道阅读能力的最快捷、简单，有效的方法。
                    </p>
                    <p class="DemiLight" style="font-size: 15px; text-indent: 2em; color: #666666;">大量教学实践表明,自然拼读法不仅适用于以英语为母语的孩子，也适用于以英语为外语的中国孩子。因为英语本身是拼音文字，所以70%的英语单词在拼读时都是有规律可循的。</p>
                    <p class="DemiLight" style="font-size: 15px; text-indent: 2em; color: #666666;">
                        简单点说，就是通过直接学习26个字母和字母组合在单词中的发音规则，来建立字母及字母组合与发音的感知，让孩子能够“见词能读、听音能写”。掌握了自然拼读后，不需要借助音标就都能够读出80%的英语单词,再也不用死记硬背了。而且，自主阅读能力也会像坐火箭一样往上冲!
                    </p>
                </div>
            </div>
        </div>
        <br/><br/><br/><br/>
        <div class="row" style="margin-left: 0; margin-right: 0;">
            <!--<div class="col-lg-3"></div>-->
            <div class="col-lg-12">
                <img src="/static/images/commodity/1.jpg" alt="">
            </div>
        </div>
        <br/><br/><br/>
        <br/><br/><br/>
        <br/><br/><br/>
        <div class="row" style="text-align: center;margin-left: 0; margin-right: 0;">
            <div class="col-lg-12">
                <div style="border-radius: 10px; height: 60px;">
                    <p class="Regular" style="font-size: 30px;color: #ff9900">具体的课程体系是什么呢？</p>
                    <br/><br/>
                    <p class="DemiLight" style="font-size: 15px;color: #666666; ">自拼专项口语课由5个级别组成，每个级别分10个单元学习25-40个左右的发音规则，整个体系共覆盖150多个</p>
                    <p class="DemiLight" style="font-size: 15px;color: #666666; line-height: 192%;">发音规则。每条发音规则，都有趣味性的练习，难度循序渐进。</p>
                </div>
            </div>
        </div>
        <br/><br/><br/>
        <br/><br/><br/>
        <br/><br/><br/>
        <div class="row" style="text-align: center;margin-left: 0; margin-right: 0;">
            <div class="col-lg-6" style="margin-left: 23%">
                <img src="/static/images/commodity/2.png" alt="">
            </div>
        </div>
        <br/><br/><br/><br/>
        <br/><br/><br/><br/>
        <div class="row" style="text-align: center;margin-left: 0; margin-right: 0;">
            <div class="col-lg-2"></div>
            <div class="col-lg-4" style="padding: 0px;">
                <img src="/static/images/commodity/3.png" alt="">
            </div>
            <div class="col-lg-4" style="padding: 0px;">
                <div style="background-color: white; padding: 25px 28px;">

                    <p class="DemiLight" style=" font-size: 15px;text-indent: 2em;line-height: 30px; color: #666666;text-align: left"> <span class="Regular" style="font-size: 20px;color: #ff9900">内容涵盖</span> 字母The &nbsp;&nbsp;&nbsp;&nbsp;Alphabet、短元音Short
                        共 Vowels、长元音Long Vowels. 辅音连读Consonant
                        Blends、字母组合Letter Combinations等， 逐步拓展
                        学习内容，系统科学，不断提高拼读能力。
                        </p>
                    <br/><br/>
                    <p class="DemiLight" style=" font-size: 15px;text-indent: 2em;line-height: 30px; color: #666666;text-align: left">
                        不仅如此，在帮助孩子掌握字母与语音的关联同
                        时，还能识别高频词。语言学家对英语单词的统计表
                        明: 91.4%的英语单词存在发音规则，即英语音形
                        内存在自然拼读规律。84%的发音可以完全从拼写中
                        预测出来。
                    </p>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <br/><br/><br/>
        <br/><br/><br/>
        <div class="row"style="text-align: center;margin-left: 0; margin-right: 0;">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div>
                    <p class="DemiLight" style="font-size: 15px; text-indent: 2em; line-height: 30px; color: #666666; text-align: left;">
                        针对不符合拼读规则的词，扩充词汇认知，为孩子打下坚实的拼写基础，提高词汇量，在阅读中巩固拼读技巧。每4单元后都有一个回顾复习单元，以练习、故事、歌曲和游戏的形式巩固该阶段所学内容。尤其是故事环节，能用屈指可数的单词就组成一个有趣的故事，让孩子直接进入自主阅读。</p>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <br/><br/><br/>
        <br/><br/><br/>
        <div class="row" style="text-align: center;margin-left: 0; margin-right: 0;">
            <img src="/static/images/commodity/4.png" style="width: 25%">
        </div>
        <br/><br/><br/>
        <br/><br/><br/>
        <div class="row"style="text-align: center;margin-left: 0; margin-right: 0;">
            <div class="col-lg-12">
                <div style="width: 100%; height: 100%;">
                    <p class="Regular" style="font-size: 30px;color: #ff9900">麦思顿英语的资质是什么呢?</p>
                    <br/>
                    <p class="DemiLight" style="font-size: 15px; color: #666666;">麦思顿英语的老师都是经过内部层层考核</p>
                    <p class="DemiLight" style="font-size: 15px; color: #666666;">最终才给孩子们上课的</p>
                    <p class="DemiLight" style="font-size: 15px; color: #666666;">目前已有超过1000名欧美外教老师加入到麦思顿英语的行列。</p>
                </div>
            </div>
        </div>
        <br/><br/><br/>
        <img src="/static/images/paralleTeachers/fdgk.png" />
        <br/><br/><br/><br/>
        <div class="row" style="text-align: center; background-color: white;margin-left: 0; margin-right: 0;">
            <br/><br/><br/><br/><br/><br/>
            <div class="col-lg-6" style="width: 100%;">
                <p class="Regular" style="font-size: 30px;color: #fba22e">麦思顿英语的教师评定标准</p>
                <br/><br/>
                <p class="DemiLight" style="font-size: 15px; color: #666666;">麦思顿英语凭借多年运营外籍人才引进项目，总结出甄选好外教老师的方法。</p>
                <p class="DemiLight" style="font-size: 15px; color: #666666;">层层把关，筛选通过率不超过8%</p>
            </div>

            <br/><br/><br/><br/><br/><br/>
            <br/><br/><br/><br/><br/><br/>
            <br/><br/><br/>
            <!--图片开始-->
            <img src="/static/images/paralleTeachers/parallelTeacher.png"  />
            <br/><br/><br/>
            <br/><br/><br/>
            <br/><br/><br/>
            <!--图片结束-->
        </div>

        <br/><br/><br/>
        <br/><br/><br/>
        <div class="row"  style="text-align: center;margin-left: 0; margin-right: 0;">
            <div class="col-lg-12" style="width: 100%;">
                <p class="Regular" style="font-size: 30px;color: #ff940e; margin-left: 21px;">如何选老师上课呢？</p>
                <p class="DemiLight" style="font-size: 15px;color: #666666;">简单的6步，找到外教大朋友</p>
            </div>
        </div>
        <br/><br/><br/>
        <div class="row"  style="text-align: center;margin-left: 0; margin-right: 0;">
            <div class="col-lg-12">
                <img src="/static/images/commodity/6.png" style=" width: 50%;">
            </div>
        </div>

        <br/><br/><br/>
        <br/><br/><br/>
        <div class="row" style="text-align: center;margin-left: 0; margin-right: 0;">

            <div class="col-lg-12" style="width: 100%;">
                <p class="Regular" style="font-size: 30px;color: #ff940e">在麦思顿英语遇到，最好的外教老师</p>
            </div>
        </div>
        <br/><br/><br/>
        </div>
        <br/><br/><br/>


    </div>
</div>

<div th:replace="front/pingxingwaijiaofooter.html :: footer"></div>
<script type="text/javascript" src="/static/js/paralleTeachers/swiper.min.js"></script>
<script type="text/javascript">

    window.onload = function() {
        var swiper = new Swiper('.swiper-container',{
            autoplay: false,
            speed: 1000,
            autoplayDisableOnInteraction: false,
            loop: true,
            centeredSlides: true,
            slidesPerView: 2,
            pagination: '.swiper-pagination',
            paginationClickable: true,
            prevButton: '.swiper-button-prev',
            nextButton: '.swiper-button-next',
            onInit: function(swiper) {
                swiper.slides[2].className = "swiper-slide swiper-slide-active";
            },
            breakpoints: {
                668: {
                    slidesPerView: 1,
                }
            }
        });
    }

</script>


</body>

</html>