<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security3">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/course.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="icon" href="/static/images/paralleTeachers/logico.ico" type="image/x-icon"/>
</head>

    <body>
    <!--导航栏-->
    <div th:replace="front/head :: head"></div>

    <!--导航-->

    <div class="xfun-header h480 ">
        <div class="wrapper">
            <h1 class="dbk">X FUN</h1>
            <h2>
                双语STEAM启蒙课程
            </h2>
            <p>
                X FUN是为3-6岁孩子，以IB体系为核心定制的STEAM启蒙项目，<br>让孩子在浸入式的英语环境中，掌握核心能力、养成良好的行为<br>习惯，为“幼升小”做好充分的能力与知识储备。
            </p>
        </div>
    </div>

    <div class="x-video ">
        <div class="wrapper2">
            <div class="video-box" data-src="">
                <img src="/static/img/x-fun-poster.jpg" alt="" class="poster">
                <div class="play" data-src="/static/img/20d2c42060e84d318e71323944d8877c.mp4"></div>
            </div>
        </div>
    </div>

    <div class="xs x-fun-2 ">
        <div class="wrapper">
            <div class="h240">
                <h2>探究式学习<br>让孩子提升英语思维与学习能力</h2>
            </div>
            <div class="img-box">
                <img src="/static/img/xfun-tx.jpg" alt="">
                <h3>课程体系</h3>
            </div>
            <!-- <div class="tx-box">
        </div> -->
        </div>
    </div>
    <div class="xs x-fun-3 h480 ">
        <div class="wrapper">
            <div class="left-box">
                <div class="center-txt">
                    <h3>授课方式</h3>
                    <p>X SCHOOL针对3-6岁孩子自主研发了<br>“FIDS”模型，培养孩子自主发现问题、解决问题的能力。</p>
                </div>
            </div>
            <div class="right-box">
                <div class="txt txt1">
                    <p>通过丰富多样的挑战内容，充分发挥学生无限的创新力和探究力，将主体维度延展。</p>
                </div>
                <div class="txt txt2">
                    <p>通过通力合作的结果呈现，分享挑战成果，建立学生的学习成就感和自信心。</p>
                </div>
                <div class="txt txt3">
                    <p>通过精心设计的情境演绎，引导学生融入主题，激发学习的兴趣点和自我感知。</p>
                </div>
                <div class="txt txt4">
                    <p>通过生动有趣的挑战设置，在层层递进的环节中，培养学生的沟通力、协作力等核心能力。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="x-fun-4">
        <div class="wrapper2 h480">
            <img src="/static/img/xfun-bg-4.jpg" alt="">

        </div>
    </div>
    <div class="xs x-fun-5 h480">
        <div class="wrapper">
            <div class="fids">
                <div class="f-b">
                    <img src="/static/img/x-fun-f.png" alt="">
                    <h3><span>F</span>eel 感受</h3>
                    <p>小朋友们与中外籍项目导师一同热情舞蹈互动后，走进疯狂动物城，接受由主人公Nick发来的挑战邀请— 为我们的新朋友建造家园。</p>
                </div>
                <div class="i-b">
                    <img src="/static/img/x-fun-i.png" alt="">
                    <h3><span>I</span>magine 想象</h3>
                    <p>头脑风暴，各抒己见，猜想新朋友们的栖息地在哪里，并通过视频资源了解更多关于它们的属性、习惯。</p>
                </div>
                <div class="d-b">
                    <img src="/static/img/x-fun-d.png" alt="">
                    <h3><span>D</span>o 实操</h3>
                    <p>结合自己的无限创意，充分利用所提供的资源，亲自动手为小动物们建造心目中的梦想家园。</p>
                </div>
                <div class="s-b">
                    <img src="/static/img/x-fun-s.png" alt="">
                    <h3><span>S</span>hare 分享</h3>
                    <p>与一同参与挑战的小伙伴们分享自己的创作灵感及创意，并讨论保护我们周围的小动物。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="xc x-fun-6 h720">
        <div class="wrapper">
            <div class="top-box">
                <div class="center-txt">
                    <h3>孩子们的作品展示</h3>
                </div>
            </div>
            <div class="zp-box">
                <img src="/static/img/xfun-bg-5.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="xs x-fun-10">
        <div class="wrapper">
            <div class="top-txt">
                <h3>线上学习中心</h3>
                <p class="p1">通过海量线上学习资源，让学员进行预习和复习，培养多元化认知。</p>
                <!-- <p>完美匹配美国共同核心州立标准CCSS，由11大知识模块构成，<br>内容由浅入深，包含英语学习所需的听说读写所有要素。</p> -->
            </div>
            <img src="/static/img/phone.png" alt="" class="phone">
            <div class="pline"></div>
            <img src="/static/img/code-fun.png" alt="" class="code">
            <p class="code-tip">扫码观看线上课</p>
        </div>
    </div>
    <div class="xc x-fun-9 h480">

    </div>




    <div class="videoModal" id="videoModal">
        <div class="video-wrapper">
            <div class="video-dialog">
                <div class="table-cell">
                    <div class="player-body">
                        <div class="modal-close"></div>
                        <div class="prism-player" id="prism-player"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="xl-chrome-ext-bar" id="xl_chrome_ext_{4DB361DE-01F7-4376-B494-639E489D19ED}" style="display: none;">
        <div class="xl-chrome-ext-bar__logo"></div>

        <a id="xl_chrome_ext_download" href="javascript:;" class="xl-chrome-ext-bar__option">下载视频</a>
        <a id="xl_chrome_ext_close" href="javascript:;" class="xl-chrome-ext-bar__close"></a>
    </div>
    <!--右侧固定栏-->
 <!--   <div th:replace="front/right-nav :: right-nav"></div>-->
    <!--页尾-->
    <div th:replace="front/footer :: footer"></div>
    <script type="application/javascript">
        //点击切换语言
        $(function () {
            $("#language_switch").click(function () {
                if(vm.$i18n.locale=="zh-CN"){
                    Setcookie("i18nlocale","en-US");
                    vm.$i18n.locale="en-US"
                }else{
                    Setcookie("i18nlocale","zh-CN");
                    vm.$i18n.locale="zh-CN"
                }

            })
        })
        var vm = new Vue({
            el: "#eeonav",
            i18n//此处引入的是footer页面中定义的i18n
        })







        $(function() {

            setTimeout(function() {
                $('.xfun-header,.x-video').addClass('on');
            }, 500)

            function checkAn(hh) {
                // var p1t = $('.x-fun-1').offset().top - hh;
                var p2t = $('.x-fun-2').offset().top - hh;
                var p3t = $('.x-fun-3').offset().top - hh;
                // if (p1t > -200 && p1t < 400) {
                //     !$('.x-fun-1').hasClass('on') && $('.x-fun-1').addClass('on')
                // } else

                if(p2t > 800 && p2t < 1164) {
                    !$('.x-fun-2').hasClass('on') && $('.x-fun-2').addClass('on')

                } else if(p3t > -200 && p3t < 400) {
                    !$('.x-fun-3').hasClass('on') && $('.x-fun-3').addClass('on')
                }
            }
            checkAn($(document).scrollTop());
            $(window).scroll(function() {
                var hh = $(window).scrollTop();
                checkAn(hh)
            });
            // 导航
            $('.right-nav div').hover(function(e) {
                $('.right-nav ul').hide();
                $(this).find('ul').show()
            }, function(e) {
                $('.right-nav ul').hide();
            });
            $('.play') && $('.play').click(function(e){
                var src = $(this).data('src');
                playVideo(src)
            });
            $('.v-play') && $('.v-play').click(function(e){
                var src = $(this).data('src');
                playVideo(src)
            });
            $('.x-hi-play,.x-kids-play,.x-parenting-play').click(function(e){
                var src = $(this).data('src');
                playVideo(src)
            });
            insertVideoHtml();
        })
        function insertVideoHtml() {
            var html = '<div class="videoModal" id="videoModal">' +
                '<div class="video-wrapper">' +
                '<div class="video-dialog">' +
                '    <div class="table-cell">' +
                '        <div class="player-body">' +
                '            <div class="modal-close"></div>' +
                '          <div class="prism-player" id="prism-player"></div>' +
                '      </div>' +
                '  </div>' +
                '</div>' +
                '</div>' +
                '</div>  ' ;
            $('body').append(html) ;
            $('.modal-close').click(function() {
                var video = $('#prism-player video')[0];
                if (video) {
                    video.pause();
                }
                $('#videoModal').fadeOut();
            })
        }
        function playVideo(src) {

            var vh = '<video src='+src+' autoplay controls></video>';
            $('#prism-player').html(vh);
            $('#videoModal').fadeIn();
        }

    </script>
    </body>
</html>