
<div th:fragment="head">
<style type="text/css">

    .ahover a:hover{
        transform: scale(1.1);
    }
    .ahover a,.ahover span{
        font-size: 20px;
    }
    .eeo-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        z-index: 1000;
        -webkit-transition: background-color 1s;
        transition: background-color 1s;
        background-color: transparent
    }

    .eeo-nav .active {
        cursor: default;
        font-weight: 700
    }

    .eeo-nav-in {
        background-color: rgba(55, 56, 62, .9);
    }

    .eeo-nav-in li ul {
        background-color: rgba(66, 201, 242, .9)
    }

    .eeo-nav-box {
        max-width: 1280px;
        height: 50px;
        margin: 0 auto
    }

    .eeo-nav-logo {
        width: 100px;
        height: 100%;
        margin-right: 10px;
        float: left;
        cursor: pointer
    }

    .eeo-nav-ul > li {
        list-style-type: none;
        float: left
    }

    .eeo-nav .nav-item {
        display: inline-block;
        padding: 0 10px;
        height: 50px;
        line-height: 50px;
        color: #fff
    }

    .eeo-nav-li ul {
        list-style-type: none;
        display: none
    }

    .eeo-nav-li:hover {
        background: hsla(0, 0%, 100%, .1);
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
        box-shadow: 0 1px 2px rgba(0, 0, 0, .1)
    }

    .eeo-nav-li:hover ul {
        display: block
    }

    .eeo-nav-li:hover ul li:hover {
        background: hsla(0, 0%, 100%, .1);
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
        box-shadow: 0 1px 2px rgba(0, 0, 0, .1)
    }

    .eeo-nav .en-li {
        width: 186px;
        text-align: center
    }

    .eeo-nav .en-li a {
        padding: 0 10px
    }

    .eeo-nav .product-li {
        width: 150px;
        text-align: center
    }

    .eeo-nav .product-li a {
        padding: 0 10px
    }

    .eeo-nav-left {
        float: left
    }

    .eeo-nav-right {
        float: right
    }

    .eeo-nav-right .institution {
        display: block;
        height: 40px;
        margin-top: 5px;
        line-height: 40px;
        padding: 0 20px;
        background: -webkit-gradient(linear, left top, right top, from(#00ac68), to(#58dc58));
        background: linear-gradient(90deg, #00ac68, #58dc58);
        border-radius: 3px
    }

    .eeo-nav-right .institution:hover {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
        -webkit-box-shadow: 0 0 5px #00be72;
        box-shadow: 0 0 5px #00be72;
        -webkit-transition: -webkit-transform .8s;
        transition: -webkit-transform .8s;
        transition: transform .8s;
        transition: transform .8s, -webkit-transform .8s
    }
</style>
    <div class="eeo-nav eeo-nav-in ahover" id="eeonav">
        <div class="eeo-nav-box">
            <a href="/"> <img src="/static/img/head_log.png" alt="eeologo"
                              style="width: 50px;height: 30px;margin-top: 9px;"
                              class="eeo-nav-logo clearfix"></a>
            <ul class="eeo-ul eeo-nav-ul eeo-nav-left" >
                <li class="">
                    <!---->
                    <a href="/home" style="text-decoration: none;" class="nav-item router-link-exact-active router-link-active active">{{$t('i18ndata.shouye')}}</a>
                    <!---->
                    <!---->
                </li>
                <li class="eeo-nav-li product-li">
                    <!---->
                    <!----><span class="nav-item" style="cursor: default;">{{$t('i18ndata.kechengtixi')}}</span>
                    <ul class="eeo-ul" style="font-size: 30px;">
                        <li>
                            <a href="/course" style="text-decoration: none;" class="nav-item">{{$t('i18ndata.xianshangxianxia')}}</a>
                        </li>
                        <li>
                            <a href="" style="text-decoration: none;" class="nav-item">{{$t('i18ndata.shuangshiketang')}}</a>
                        </li>
                        <li>
                            <a href="" style="text-decoration: none;" class="nav-item">{{$t('i18ndata.youerbancahnggui')}}</a>
                        </li>
                        <li>
                            <a href="" style="text-decoration: none;" class="nav-item">{{$t('i18ndata.youerquantian')}}</a>
                        </li>
                        <li>
                            <a href="" style="text-decoration: none;" class="nav-item">{{$t('i18ndata.xioaxueban')}}</a>
                        </li>

                    </ul>
                </li>
                <li class="">
                    <a href="/teaching" style="text-decoration: none;" class="nav-item">{{$t('i18ndata.shizi')}}</a>
                </li>
                <li class="">
                    <a href="/teaching_results" style="text-decoration: none;" class="nav-item">{{$t('i18ndata.jiaoxuechengguo')}}</a>
                </li>
                <li class="">
                    <a href="/wonderful_activity" style="text-decoration: none;" class="nav-item">{{$t('i18ndata.jingcaihuodong')}}</a>
                </li>
                <li class="">
                    <a href="/aboutus" style="text-decoration: none;" class="nav-item">{{$t('i18ndata.guanyuwomen')}}</a>
                </li>


            </ul>
            <ul class="eeo-ul eeo-nav-ul eeo-nav-right">
                <!--<li>
                        <a href="/en/register.html" class="nav-item institution">
                            Schools &amp; Institutions

                        </a>
                    </li>-->
                <!-- <li>
                     <a href="/en/login.html" class="nav-item">
                         登录 /
                         <span>注册</span></a>
                 </li>-->
                <li>
                    <a href="/jobwanted" style=" text-decoration: none;" class="nav-item">{{$t('i18ndata.jiaruwomen')}}</a>
                </li>
                <li class="eeo-nav-li product-li">
                    <!---->
                    <!----><span class="nav-item" style="cursor: default;">{{$t('i18ndata.zhanluehezuo')}}</span>
                    <ul class="eeo-ul">
                        <li>
                            <a href="/joinin" style="text-decoration: none;" class="nav-item">{{$t('i18ndata.xioaqujiameng')}}</a>
                        </li>
                        <li>
                            <a href="/jobwanted" style="text-decoration: none;" class="nav-item">{{$t('i18ndata.chengshihehuoren')}}</a>
                        </li>

                    </ul>
                </li>

                <li>
                    <a href="###"  id="language_switch" class="nav-item" style="text-decoration: none;">{{$t('i18ndata.language')}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
