<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security3">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="/static/images/paralleTeachers/log.ico" type="image/x-icon"/>
    <title>PARAL TEACHER</title>

    <script src="/static/js/jquery-2.1.1.min.js"></script>
    <!--表单验证-->
    <link rel="stylesheet" href="/static/bootstrap_validator/bootstrapValidator.css"/>
    <script type="text/javascript" src="/static/bootstrap_validator/bootstrapValidator.js"></script>
    <script src="/static/js/vue/vue.js"></script>
    <!--    路由-->
    <!--bootstarp-->
    <script src=" /static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <!--    自定义字体-->
    <link rel="stylesheet" href="\static\css\fonts_custom.css"/>

    <!--    错误提示-->
    <link rel="stylesheet" href="/static/js/message/message.css"/>
    <script src="/static/js/message/message.js"></script>

    <!--轮播图-->
    <link rel="stylesheet" href="\static\swiper\swiper.min.css"/>
    <script src="\static\swiper\swiper.min.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?016ad8c6d8aa38ae08176064d55c5bda";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <style type="text/css">
        .rowdiv div {
            padding-right: 3px;
            padding-left: 3px;
        }

        .rowdiv {
            margin: 0px;
        }

        /*  .row {
              width: 92%;
              text-align: center;
              margin: 20px auto;
          }*/
    </style>
</head>
<body>
<div th:replace="phone/phone_head :: phone_head"></div>
<br/>
<br/>
<br/>
<br/>
<div class="row" style="margin: 0 auto;text-align: center;">
    <div class="col-lg-12"><p style="font-size:5vw;font-family: Medium;line-height:100%;color: #666666 ">
        在这里，遇到最好的外教老师</p>
    </div>
</div>
<div class="row" style="margin: 0 auto;text-align: center;">
    <div class="col-lg-12"><p
            style="font-size:3vw;font-family: Regular;line-height:100%;color: #666666; line-height: 20px;">
        点击外教图片查看更多老师信息，观看视频,课表</p></div>
</div>
<br/>
<div class="row" style="text-align: center; margin-left: 0; margin-right: 0;">
    <div class="col-xs-2">

    </div>
    <div class="col-xs-3" style="padding: 0;">
        <!--<a href="/teacher/region?region=1"><img src="/static/images/partener/northAmerica.png"></a>-->
        <a onclick="load(3)"><img src="/static/images/partener/europe.png" style="width: 80%;"></a>
    </div>
    <div class="col-xs-2">

    </div>
    <div class="col-xs-3" style="padding: 0;">
        <a onclick="load(1)"><img src="/static/images/partener/northAmerica.png" style="width: 90%;"></a>

    </div>
    <div class="col-xs-2">
    </div>
</div>

<br/><br/>

<div class="row " style="text-align: center;margin: 0 auto;width: 90%;" id="fujieidan">
    <!-- <div class="col-xs-4" style="padding: 0px;">
         <div clas="row">
             <div class="col-xs-12">
                 &nbsp;<img src="/static/images/phone/chossefteacher/1.jpg" style="width: 100%;">
             </div>
         </div>
         <div clas="row">
             <div class="col-xs-12" style="background-color: white; height: 28px;">
                 <p class="h5 AeroRegularSWFTE" style="margin-top: 7px;"><strong>Diana</strong></p>
             </div>
         </div>
     </div>
     <div class="col-xs-4" style="padding: 0px;">
         <div clas="row">
             <div class="col-xs-12">
                 &nbsp;<img src="/static/images/phone/chossefteacher/2.jpg" style="width: 100%;">
             </div>
         </div>
         <div clas="row">
             <div class="col-xs-12" style="background-color: white; height: 28px;">
                 <p class="h5 AeroRegularSWFTE" style="margin-top: 7px;"><strong>Hanna</strong></p>
             </div>
         </div>
     </div>
     <div class="col-xs-4" style="padding: 0px;">
         <div clas="row">
             <div class="col-xs-12">
                 &nbsp;<img src="/static/images/phone/chossefteacher/3.jpg" style="width: 100%;">
             </div>
         </div>
         <div clas="row">
             <div class="col-xs-12" style="background-color: white; height: 28px;">
                 <p class="h5 AeroRegularSWFTE" style="margin-top: 7px;"><strong>Lika</strong></p>
             </div>
         </div>
     </div>-->


</div>

<div class="row " id="jiashuju" style="text-align: center;margin: 0 auto;width: 90%;display: none;">



    <div class="row rowdiv" style="text-align: center;margin: 0 auto;">
        <div class="col-xs-4" style="padding: 0px;">
            <div clas="row">
                <div class="col-xs-12">
                    <img src="/static/images/phone/chossefteacher/13.jpg" style="width: 100%;">
                </div>
            </div>
            <div clas="row">
                <div class="col-xs-12" style="background-color: white; height: 28px;">
                    <p class="h5 AeroRegularSWFTE" style="margin-top: 7px;"><strong>Genevieve</strong></p>
                </div>
            </div>
        </div>
        <div class="col-xs-4" style="padding: 0px;">
            <div clas="row">
                <div class="col-xs-12">
                    <img src="/static/images/phone/chossefteacher/14.jpg" style="width: 100%;">
                </div>
            </div>
            <div clas="row">
                <div class="col-xs-12" style="background-color: white; height: 28px;">
                    <p class="h5 AeroRegularSWFTE" style="margin-top: 7px;"><strong>Dagny</strong></p>
                </div>
            </div>
        </div>
        <div class="col-xs-4" style="padding: 0px;">
            <div clas="row">
                <div class="col-xs-12">
                    <img src="/static/images/phone/chossefteacher/15.jpg" style="width: 100%;">
                </div>
            </div>
            <div clas="row">
                <div class="col-xs-12" style="background-color: white; height: 28px;">
                    <p class="h5 AeroRegularSWFTE" style="margin-top: 7px;"><strong>Christian</strong></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row rowdiv" style="text-align: center;margin: 0 auto;">
        <div class="col-xs-4" style="padding: 0px;">
            <div clas="row">
                <div class="col-xs-12">
                    <img src="/static/images/phone/chossefteacher/16.jpg" style="width: 100%;">
                </div>
            </div>
            <div clas="row">
                <div class="col-xs-12" style="background-color: white; height: 28px;">
                    <p class="h5 AeroRegularSWFTE" style="margin-top: 7px;"><strong>Yehudi</strong></p>
                </div>
            </div>
        </div>
        <div class="col-xs-4" style="padding: 0px;">
            <div clas="row">
                <div class="col-xs-12">
                    <img src="/static/images/phone/chossefteacher/17.jpg" style="width: 100%;">
                </div>
            </div>
            <div clas="row">
                <div class="col-xs-12" style="background-color: white; height: 28px;">
                    <p class="h5 AeroRegularSWFTE" style="margin-top: 7px;"><strong>Burnell</strong></p>
                </div>
            </div>
        </div>
        <div class="col-xs-4" style="padding: 0px;">
            <div clas="row">
                <div class="col-xs-12">
                    <img src="/static/images/phone/chossefteacher/18.jpg" style="width: 100%;">
                </div>
            </div>
            <div clas="row">
                <div class="col-xs-12" style="background-color: white; height: 28px;">
                    <p class="h5 AeroRegularSWFTE" style="margin-top: 7px;"><strong>Jacqueline</strong></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row rowdiv" style="text-align: center;margin: 0 auto;">
        <div class="col-xs-4" style="padding: 0px;">
            <div clas="row">
                <div class="col-xs-12">
                    <img src="/static/images/phone/chossefteacher/19.jpg" style="width: 100%;">
                </div>
            </div>
            <div clas="row">
                <div class="col-xs-12" style="background-color: white; height: 28px;">
                    <p class="h5 AeroRegularSWFTE" style="margin-top: 7px;"><strong>Christopher</strong></p>
                </div>
            </div>
        </div>
        <div class="col-xs-4" style="padding: 0px;">
            <div clas="row">
                <div class="col-xs-12">
                    <img src="/static/images/phone/chossefteacher/20.jpg" style="width: 100%;">
                </div>
            </div>
            <div clas="row">
                <div class="col-xs-12" style="background-color: white; height: 28px;">
                    <p class="h5 AeroRegularSWFTE" style="margin-top: 7px;"><strong>Stephanie</strong></p>
                </div>
            </div>
        </div>
        <div class="col-xs-4" style="padding: 0px;">
            <div clas="row">
                <div class="col-xs-12">
                    <img src="/static/images/phone/chossefteacher/21.jpg" style="width: 100%;">
                </div>
            </div>
            <div clas="row">
                <div class="col-xs-12" style="background-color: white; height: 28px;">
                    <p class="h5 AeroRegularSWFTE" style="margin-top: 7px;"><strong>Autum</strong></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row rowdiv" style="text-align: center;margin: 0 auto;">
        <div class="col-xs-4" style="padding: 0px;">
            <div clas="row">
                <div class="col-xs-12">
                    <img src="/static/images/phone/chossefteacher/22.jpg" style="width: 100%;">
                </div>
            </div>
            <div clas="row">
                <div class="col-xs-12" style="background-color: white; height: 28px;">
                    <p class="h5 AeroRegularSWFTE" style="margin-top: 7px;"><strong>Piper</strong></p>
                </div>
            </div>
        </div>
        <div class="col-xs-4" style="padding: 0px;">
            <div clas="row">
                <div class="col-xs-12">
                    <img src="/static/images/phone/chossefteacher/23.jpg" style="width: 100%;">
                </div>
            </div>
            <div clas="row">
                <div class="col-xs-12" style="background-color: white; height: 28px;">
                    <p class="h5 AeroRegularSWFTE" style="margin-top: 7px;"><strong>Clara</strong></p>
                </div>
            </div>
        </div>

    </div>


</div>
<br/>
<br/>
<br/>
<br/>
<br/>
</body>
<script type="text/javascript">

    $(function () {
        load(0);//请求数据

    })

    function load(diqu) {
        $("#fujieidan").empty();
        var jobWanted = new Object();
        jobWanted.showTeacher = 1;
        jobWanted.pageNum = 1;//当前页数
        jobWanted.length = 18;//每页数量
        jobWanted.nationality = diqu;
        $.ajax({
            "url": "/job/showTeacher",
            "type": "post",
            "data": {
                "jobWanted": JSON.stringify(jobWanted)
            },
            "dataType": "json",
            "success": function (result) {

                var content = result.content
                var box = "";
                var count = "0";
                var shenyu = 3;
                for (var p in content) {
                    count++;
                }
                for (var p in content) {//遍历json数组时，p为索引
                    p = parseInt(p);
                    shenyu--;
                    box += "<div class=\"col-xs-4\" style=\"padding: 0px;\" >"
                        + "<div clas=\"row\">"
                        + "<a href=\"/parallel/teacherDetail/" + content[p].teacherdId + "\">"
                        + " <div class=\"col-xs-12\">"
                        + "<img src=\"/file/picture?fileid=" + content[p].picture.fileId + " \"style=\"width: 100%;\">"
                        + "</div>"
                        + "</div>"
                        + "<div clas=\"row\">"
                        + "</a>"
                        + "<div class=\"col-xs-12\" style=\"background-color: white; height: 28px;\">"
                        + "<p class=\"h5 AeroRegularSWFTE\" style=\"margin-top: 7px;\"><strong>" + content[p].teacherName + ""
                        + "</strong></p></div></div></div>"

                    /*  if (p % 3 == 0) {
                          box += "</div><br/><br/><br/>"
                      }*/
                    if ((p + 1) % 3 == 0) {
                        shenyu = 3;

                        var rowdiv = $("<div>").addClass("row rowdiv");
                        rowdiv.append(box);

                        //  box += "  <div class=\"row rowdiv\">"
                        box = "";
                        $("#fujieidan").append(rowdiv);
                    } else if ((p + 1) > (count - 1)) {


                        if(shenyu==1){
                            box += "<div class=\"col-xs-4\" style=\"padding: 0px;\" >"
                                + "<div clas=\"row\">"
                                + " <div class=\"col-xs-12\">"
                                + "<img src=\"/static/images/phone/chossefteacher/24.jpg \"style=\"width: 100%;\">"
                                + "</div>"
                                + "</div>"
                                + "<div clas=\"row\">"
                                + "<div class=\"col-xs-12\" style=\"background-color: white; height: 28px;\">"
                                + "<p class=\"h5 AeroRegularSWFTE\" style=\"margin-top: 7px;\"><strong>Emma"
                                + "</strong></p></div></div></div>"


                        }else {
                            box += "<div class=\"col-xs-4\" style=\"padding: 0px;\" >"
                                + "<div clas=\"row\">"
                                + " <div class=\"col-xs-12\">"
                                + "<img src=\"/static/images/phone/chossefteacher/24.jpg \"style=\"width: 100%;\">"
                                + "</div>"
                                + "</div>"
                                + "<div clas=\"row\">"
                                + "<div class=\"col-xs-12\" style=\"background-color: white; height: 28px;\">"
                                + "<p class=\"h5 AeroRegularSWFTE\" style=\"margin-top: 7px;\"><strong>Emma"
                                + "</strong></p></div></div></div>"
                            box += "<div class=\"col-xs-4\" style=\"padding: 0px;\" >"
                                + "<div clas=\"row\">"
                                + " <div class=\"col-xs-12\">"
                                + "<img src=\"/static/images/phone/chossefteacher/25.jpg \"style=\"width: 100%;\">"
                                + "</div>"
                                + "</div>"
                                + "<div clas=\"row\">"
                                + "<div class=\"col-xs-12\" style=\"background-color: white; height: 28px;\">"
                                + "<p class=\"h5 AeroRegularSWFTE\" style=\"margin-top: 7px;\"><strong>Piper"
                                + "</strong></p></div></div></div>"
                        }




                        var rowdiv = $("<div>").addClass("row rowdiv");
                        rowdiv.append(box);

                        //  box += "  <div class=\"row rowdiv\">"
                        box = "";
                        $("#fujieidan").append(rowdiv);


                    }
                }
                $(".rowdiv").after("<br/>")
                $("#jiashuju").show();
            },
            error: function () {
                bt.enable();
                message({
                    message: '服务器异常,请重试!',
                    type: 'error'
                });
                console.log(e.status);
                console.log(e.responseText);
            }
        })


    }

</script>
</html>