<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security3">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="/static/images/paralleTeachers/log.ico" type="image/x-icon"/>
    <title>城市合伙人</title>
    <script src="/static/js/jquery-2.1.1.min.js"></script>
    <!--表单验证-->
    <link rel="stylesheet" href="/static/bootstrap_validator/bootstrapValidator.css"/>
    <script type="text/javascript" src="/static/bootstrap_validator/bootstrapValidator.js"></script>
    <script src="/static/js/vue/vue.js"></script>
    <!--    路由-->
    <!--bootstarp-->
    <script src=" /static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <!--    自定义字体-->
    <link rel="stylesheet" href="\static\css\fonts_custom.css"/>

    <!--    错误提示-->
    <link rel="stylesheet" href="/static/js/message/message.css"/>
    <script src="/static/js/message/message.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?016ad8c6d8aa38ae08176064d55c5bda";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <style type="text/css">
        .rowdiv div {
            padding-right: 3px;
            padding-left: 3px;
        }

      /*  .row {
            width: 92%;
            text-align: center;
            margin: 20px auto;
        }*/
    </style>
</head>
<body style="background-color: #f3f3f3;">
<div th:replace="phone/phone_head :: phone_head" ></div>
<br/>
<div class="row" style="margin: 0 auto;text-align: center; margin-top: 32px;">
    <img src="/static/images/phone/chossefteacher/partener/1.jpg" style="width: 100%;">
</div>

<br/><br/><br/>
<div class="row" style="margin: 0 auto;text-align: center;">
    <div class="col-lg-12"><p style="font-size:5vw;font-family: Medium;line-height:100%;color: #ff9900 ">
        合伙人计划是什么？</p >
    </div>
</div><br/>
<div class="row" style="margin: 0 auto;text-align: left; ">
    <div class="col-lg-12"><p
            style="font-size:4vw;font-family: Regular;line-height:100%;color: #666666; line-height: 24px;text-indent: 2em; ">麦思顿英语项目是由北京麦思顿国际文化交流有限公司继打造麦思顿英语线下培训品牌后，在2019年初全力打造的全新英语教育解决方案提供的平台。旨在同中国新一代教育者一起，为中国英语教育贡献出自己的绵薄之力。</p ></div>
</div>

<div class="row" style="margin: 0 auto;text-align: left;">
    <div class="col-lg-12"><p
            style="font-size:4vw;font-family: Regular;line-height:100%;color: #666666; line-height: 24px;text-indent: 2em;">2019年，麦思顿英语项目相继在欧洲及加拿大注册教学本部，分别成立教学团队，在当地招聘最好的老师，管理和培训出最优秀的外教老师。</p ></div>
</div>

<div class="row" style="margin: 0 auto;text-align: left;">
    <div class="col-lg-12"><p
            style="font-size:4vw;font-family: Regular;line-height:100%;color: #666666; line-height: 24px;text-indent: 2em;">自2016年第一家麦思顿英语品牌学校在北京成立以来，我公司教学团队就一直潜心开展教研工作，通过自运营校区，不断的总结出适合中国学员英语学习的方法，我们的目标是以“第二母语”概念为核心培养出世界级的双语宝宝。</p ></div>
</div>



<br/><br/><br/>
<div class="row" style="margin: 0 auto;text-align: center; background-color: #f3f3f3;">
    <img src="/static/images/phone/chossefteacher/partener/2.jpg" style="width: 100%;">
</div>


<br/><br/><br/>
<div class="row" style="margin: 0 auto;text-align: center;">
    <div class="col-lg-12"><p style="font-size:5vw;font-family: Medium;line-height:100%;color: #ff9900 ">
        项目的优势</p >
    </div>
</div>
<div class="row" style="margin: 0 auto;text-align: center; background-color: #f3f3f3;">
    <img src="/static/images/phone/chossefteacher/partener/3.png" style="width: 90%;">
</div>

<br/><br/>
<div class="row" style="margin: 0 auto;text-align: left;">
    <div class="col-lg-12">
        <p style="font-size:5vw;font-family: Medium;line-height:100%;color: #333333; ">
        教学产品优势
    </p>
        <p style="font-size:3.5vw;font-family: Regular;line-height:100%;color: #666666; ">
            market competition
        </p >
    </div>
</div>
<div class="row" style="margin: 0 auto;text-align: center;">
    <img src="/static/images/phone/chossefteacher/partener/4.png" style="width: 100%;">
</div>


<br/>
<div class="row" style="margin: 0 auto;text-align: left;">
    <div class="col-lg-12">
        <p style="font-size:5vw;font-family: Medium;line-height:100%;color: #333333; ">
            市场竞争优势
        </p>
        <p style="font-size:3.5vw;font-family: Regular;line-height:100%;color: #666666; ">
            market competition
        </p >
    </div>
</div>
<div class="row" style="margin: 0 auto;text-align: center;">
    <img src="/static/images/phone/chossefteacher/partener/5.png" style="width: 100%;">
</div>

<br/><br/><br/>
<div class="row" style="margin: 0 auto;">
        <img src="/static/images/phone/chossefteacher/partener/6.png" style="width: 100%;">
</div>




<br/><br/><br/>
<div class="row" style="margin: 0 auto;text-align: center;">
    <div class="col-lg-12"><p style="font-size:5vw;font-family: Medium;line-height:100%;color: #ff9900 ">
        合伙人的等级和优势?</p >
    </div>
</div>
<div class="row" style="margin: 0 auto;text-align: center; background-color: #f3f3f3;">
    <img src="/static/images/phone/chossefteacher/partener/7.png" style="width: 47%;">
</div>

<br/>
<div class="row" style="margin: 0 auto;text-align: left;">
    <div class="col-lg-12"><p
            style="font-size:4vw;font-family: Regular;line-height:100%;color: #666666; line-height: 24px;text-indent: 2em; padding: 2px;">城市合伙人是麦思顿英语项目事业发展中的重要组成部分，我们希望通过城市合伙人的当地教育资源和优势，迅速拓展麦思顿英语项目，共同致力于全方位对接与服务于各教育品牌机构，达到麦思顿和城市合伙人的双赢，进而达到各机构与麦思顿的双赢局面。</p ></div>
</div>
<br/>
<div class="row" style="margin: 0 auto;text-align: center; background-color: #f3f3f3;">
    <img src="/static/images/phone/chossefteacher/partener/8.jpg" style="width: 100%;">
</div>



<br/>
<div class="row" style="margin: 0 auto;text-align: left;">
    <div class="col-lg-12"><p
            style="font-size:4vw;font-family: Regular;line-height:100%;color: #666666; line-height: 24px;text-indent: 2em;">
        现阶段，麦思顿目前开放华北，华中各地区的城市合伙人招募工作。如果你一直充满教育情怀，并且一直想创立一份属于自己的事业，我们期待你的加入!
    </p ></div>
</div>



<br/><br/><br/>
<div class="row" style="margin: 0 auto;text-align: center;">
    <div class="col-lg-12"><p style="font-size:5vw;font-family: Medium;line-height:100%;color: #ff9900 ">
        如何成为合伙人呢?</p >
    </div>
</div>
<div class="row" style="margin: 0 auto;text-align: center; background-color: #f3f3f3;">
    <img src="/static/images/phone/chossefteacher/partener/9.png" style="width: 58%;">
</div>

<br/><br/>
<div class="row" style="margin: 0 auto;text-align: center; background-color: #f3f3f3;">
    <img src="/static/images/phone/chossefteacher/partener/10.png" style="width: 100%;">
</div>


<br/><br/><br/>
<div class="row" style="margin: 0 auto;text-align: center;">
    <div class="col-lg-12"><p style="font-size:4vw;font-family: Medium;line-height:100%;color: #ff9900 ">
        <b>总之，请你一定要记住，你并不是一个人在战斗</b></p >
    </div>
</div>
<div class="row" style="margin: 0 auto;text-align: center;">
    <div class="col-lg-12"><p style="font-size:4vw;font-family: Medium;line-height:100%;color: #ff9900; line-height: 24px;">
        <b>麦思顿英语的所有成员都是你的后备力量。</b></p >
    </div>
</div>
<div class="row" style="margin: 0 auto;text-align: center;">
    <div class="col-lg-12"><p style="font-size:4vw;font-family: Medium;line-height:100%;color: #ff9900; line-height: 24px;">
        <b>很开心，能与你一起并肩战斗！</b></p >
    </div>
</div>






<br/><br/><br/>
<div th:replace="phone/partener_bottom :: partener_bottom" ></div>

</body>
<script type="text/javascript">


</script>
</html>