<div th:fragment="phone_bottom">


    <style type="text/css">
        .rowbooton{margin: 0px;}

    </style>

    <div class="row rowbooton" style="margin: 0 auto;text-align: center; height: 100%; background-image: url(/static/images/phone/chossefteacher/commodityOnePxwj/bottom.jpg)">
        <br/><br/>
        <p class="Medium" style="font-size:5vw;line-height:100%;color: white; ">马上咨询麦思顿英语</p>
        <br/>
        <p style="font-size:3vw;font-family: DemiLight;line-height:100%;color: white; ">体验完善的英语教育解决方案</p >
        <p style="font-size:3vw;font-family: DemiLight;line-height:100%;color: white; ">获得专业的团队支持</p >
        <br/>
        <div>
            <div class="Medium" style="text-align: center; "  onclick="modalshow()"><strong style="border:1px solid white;padding: 10px;border-radius: 4px;font-size: 3vw;background-color: white;color: #444666;cursor: pointer; ">立即领取</strong></div >
        </div>
        <br/><br/>
    </div>



    <div class="row rowbooton" style="margin: 0 auto;text-align: center; background-color: #5d5d5d; height: 100%;">
        <br/><br/><br/>
        <div class="col-xs-12">
            <img src="/static/images/phone/chossefteacher/logo.png" style="width: 35%;">
        </div>
        <br/><br/><br/>
        <br/>
        <div class="col-xs-12">
            <div class="col-xs-6" style="text-align: left;">
                <a href="/parallel/aboutUs"><p style="color: white;">关于我们</p></a>
            </div>
            <div class="col-xs-6" style="text-align: right; color: white;">
                <img src="/static/images/phone/chossefteacher/commodityOnePxwj/phone.png" style="width: 80%;">
            </div>
        </div>


        <div class="col-xs-12">
            <div class="col-xs-6" style="text-align: left; color: white;color: white;">
                <a href="/parallel/chooseTeacher"><p style="color: white;">选择外教</p></a>
            </div>
            <div class="col-xs-6" style="text-align: right; color: white;">
                <img src="/static/images/phone/chossefteacher/commodityOnePxwj/email.png" style="width: 80%;">
            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-6" style="text-align: left; color: white;">
                <a href="/parallel/partener"><p style="color: white;">城市合伙人</p></a>
            </div>
            <div class="col-xs-6">
            </div>
        </div>

        <br/><br/><br/>
        <br/><br/><br/>
        <br/><br/><br/>
    </div>
<script type="text/javascript">

</script>

</div>