<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security3">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="/static/images/paralleTeachers/log.ico" type="image/x-icon"/>
    <title>启蒙网站</title>
    <script src="/static/js/jquery-2.1.1.min.js"></script>
    <!--表单验证-->
    <link rel="stylesheet" href="/static/bootstrap_validator/bootstrapValidator.css"/>
    <script type="text/javascript" src="/static/bootstrap_validator/bootstrapValidator.js"></script>
    <script src="/static/js/vue/vue.js"></script>
    <!--    路由-->
    <!--bootstarp-->
    <script src=" /static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <!--    自定义字体-->
    <link rel="stylesheet" href="\static\css\fonts_custom.css"/>

    <!--    错误提示-->
    <link rel="stylesheet" href="/static/js/message/message.css"/>
    <script src="/static/js/message/message.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?016ad8c6d8aa38ae08176064d55c5bda";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <style type="text/css">
        .rowdiv div {
            padding-right: 3px;
            padding-left: 3px;
        }

      /*  .row {
            width: 92%;
            text-align: center;
            margin: 20px auto;
        }*/
    </style>
</head>
<body style="background-color: #f3f3f3;">
<div th:replace="phone/phone_head :: phone_head" ></div>
<div class="row" style="margin: 0 auto;text-align: center;">
    <img src="/static/images/phone/chossefteacher/websiteEnlightenment/1.jpg" style="width: 100%;">
</div>

<br/><br/><br/>
<div class="row" style="margin: 0 auto;text-align: center;">
    <div class="col-lg-12"><p style="font-size:5vw;font-family: Medium;line-height:100%;color: #ff9900; ">
        为什么说孩子的启蒙阶段</p >
    </div>
</div>
<div class="row" style="margin: 0 auto;text-align: center;">
    <div class="col-lg-12"><p style="font-size:5vw;font-family: Medium;line-height:100%;color: #ff9900; ">
        是培养双语宝宝的最佳时期？</p >
    </div>
</div>
<br/>
<div class="row" style="margin: 0 auto;text-align: left;">
    <div class="col-lg-12"><p
            style="font-size:4vw;font-family: Regular;line-height:100%;color: #666666; line-height: 24px;text-indent: 2em;">
        3-7岁的孩子正处在语言开发和模仿的黄金期，孩子的英语启蒙教育我们最关注的是英语词汇的积累以及听说能力及语感的培养，搭建英语思维逻辑。为了能够培养出双语宝宝，麦思顿英语在启蒙阶段（L1-L2）主要把重心放在孩子的自然拼读，以及绘本阅读上。孩子可以通过自拼来解决生词的识读问题，在通过有趣的绘本精读，让孩子潜移默化的增加词汇量，培养了语感，并且锻炼了英语的口语及听力能力。
    </p></div>
</div>



<br/><br/>
<div class="row" style="margin: 0 auto;text-align: center; background-color: #f3f3f3;">
    <img src="/static/images/phone/chossefteacher/websiteEnlightenment/2.jpg" style="width: 100%;">
</div>



<br/><br/><br/>
<div class="row" style="margin: 0 auto;text-align: center;">
    <div class="col-lg-12"><p style="font-size:5vw;font-family: Medium;line-height:100%;color: #ff9900 ">
        麦思顿英语的启蒙课程的设置是什么？</p >
    </div>
</div>
<br/>
<div class="row" style="margin: 0 auto;text-align: center; background-color: #f3f3f3;">
    <img src="/static/images/phone/chossefteacher/websiteEnlightenment/3.jpg" style="width: 100%;">
</div>


<br/><br/><br/>
<div class="row" style="margin: 0 auto;text-align: left; letter-spacing:2px;">
    <div class="col-lg-12"><p
            style="font-size:4vw;font-family: Regular;line-height:100%;color: #666666; line-height: 24px;text-indent: 2em; padding: 1px;">
        <strong class="Medium" style="color: #ff9900;font-size:5vw;">自然拼读</strong>内容学习循序渐进，孩子能够达到无需帮助即可识别词汇。自然拼读的内容仍然涉及了整个系列共覆盖150多个发音规则。每条发音规则，都有趣味性的练习，难度循序渐进。内容涵盖字母The Alphabet、短元音Short Vowels、长元音Long Vowels、辅音连读Consonant Blends、字母组合Letter Combinations等，逐步拓展学习内容，系统科学，不断提高拼读能力。
    </p ></div>
</div>

<br/>
<div class="row" style="margin: 0 auto;text-align: center;">
    <img src="/static/images/phone/chossefteacher/websiteEnlightenment/4.png" style="width: 80%;">
</div>

<br/><br/><br/>
<div class="row" style="margin: 0 auto;text-align: left;">
    <div class="col-lg-12"><p
            style="font-size:4vw;font-family: Regular;line-height:100%;color: #666666; line-height: 24px;text-indent: 2em;">
        <strong class="Medium" style="color: #ff9900;font-size:5vw;">分级阅读</strong>英国原版读物，科学分级让孩子爱上阅读。我们引入了在线阅读平台，根据主题，课堂安排了精读、
        泛读绘本。阅读内容由浅至深，粉红A，B和红色A，B这4套针对培养3-7岁学员的注意力、观察力、记忆力和思维力
        而开发，主要是以扎实基础和稳步提升英语阅读水平为目的。而绿色、黄色和蓝色这3套产品则就8-13岁儿童在校
        学习的特别，加入了更多的寓言故事和科学知识，以让孩子更轻松地融入学校环境并带着兴趣去阅读，在阅读
        中学习英语，增长知识。孩子们也可以在家通过手机、ipad、电脑终端大量阅读。
    </p ></div>
</div>


<br/><br/>
<div class="row" style="margin: 0 auto;text-align: center;">
    <img src="/static/images/phone/chossefteacher/websiteEnlightenment/5.jpg" style="width: 80%;">
</div>





<br/><br/><br/>
<div class="row" style="margin: 0 auto;text-align: center;">
    <div class="col-lg-12"><p style="font-size:5vw;font-family: Medium;line-height:100%;color: #ff9900 ">
        启蒙课晋级的级别是什么呢？</p >
    </div>
</div>

<br/>
<div class="row" style="margin: 0 auto;text-align: center;">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <img src="/static/images/phone/chossefteacher/websiteEnlightenment/6.png" style="width: 85%;">
    </div>
    <div class="col-lg-3"></div>
</div>

<br/><br/><br/>
<div class="row" style="margin: 0 auto;text-align: left;">
    <div class="col-xs-3"></div>
        <div class="col-xs-6">
            &nbsp;<img src="/static/images/phone/chossefteacher/commodityOnePxwj/5.png" style="width: 100%;">
        </div>
    <div class="col-xs-3"></div>
</div>
<br/><br/><br/>
<div class="row" style="margin: 0 auto;text-align: center;">
    <div class="col-lg-12"><p style="font-size:5vw;font-family: Medium;line-height:100%;color: #333333 ">
        师资优势</p >
    </div>
</div>
<div class="row" style="margin: 0 auto;text-align: center;">
    <div class="col-lg-12"><p
            style="font-size:2.5vw;font-family: Regular;line-height:100%;color: #666666; ">TEACHING&nbsp;&nbsp;&nbsp;&nbsp;ADVANTAGES</p ></div>
</div>
<br/>
<div class="row" style="margin: 0 auto;text-align: center;">
    <div class="col-lg-12"><p
            style="font-size:2.5vw;font-family: Regular;line-height:100%;color: #333333; ">为什么要跟麦思顿英语老师一起学习？</p ></div>
</div>
<div class="row" style="margin: 0 auto;text-align: center;">
    <div class="col-lg-12"><p
            style="font-size:2.5vw;font-family: Regular;line-height:100%;color: #666666; ">外教平均教龄5年以上/筛选通过率不超过8%/来自欧美本科学历以上</p ></div>
</div>


<div class="row" style="margin: 0 auto;">
    <div class="col-xs-12">
        &nbsp;<img src="/static/images/phone/chossefteacher/commodityOnePxwj/6.png" style="width: 100%;">
    </div>
</div>

<br/><br/>
<div class="row" style="margin: 0 auto;text-align: center;">
    <p style="font-size:4vw;font-family: Regular;line-height:100%;color: #666666; ">严格的招聘标准？</p>
    <p style="font-size:2.5vw;font-family: Regular;line-height:100%;color: #666666; ">欧洲/加拿大设立自营教学运营中心，层层把关，筛选通过率不超过8%</p >
    <div class="col-xs-12">
        &nbsp;<img src="/static/images/phone/chossefteacher/commodityOnePxwj/7.png" style="width: 100%;">
    </div>
</div>

<br/><br/>
<br/><br/>
<div class="row" style="margin: 0 auto;text-align: center;">
    <div class="col-lg-12"><p style="font-size:4vw;font-family: Medium;line-height:100%;color: #ff9900 ">
        如何选老师上课呢？</p >
    </div>
</div>
<div class="row" style="margin: 0 auto;text-align: center;">
    <div class="col-lg-12"><p style="font-size:2.5vw;font-family: Regular;line-height:100%;color: #666666 ">
        简单的6步，找到外教大朋友</p >
    </div>
</div>


<div class="row" style="margin: 0 auto;">
    <div class="col-xs-12">
        &nbsp;<img src="/static/images/phone/chossefteacher/commodityOnePxwj/8.png" style="width: 100%;">
    </div>
</div>

<br/><br/><br/>
<div th:replace="phone/phone_bottom :: phone_bottom" ></div>

</body>
<script type="text/javascript">


</script>
</html>